
    <div class="footer" ng-if="!isPhone">

      <table class="tableCenter">
        <tr>
          <td class="footerText">BELÉN</td>
          <td class="footerText">CURRIDABAT</td>
          <td class="footerText">ESCAZÚ</td>
        </tr>
        <tr>
          <td class="footerDirectionText">Diagonal a Real Cariari sobre autopistaGeneral Cañas</td>
          <td class="footerDirectionText">50 metros este del Indoor Club</td>
          <td class="footerDirectionText">Diagonal al cruce de San Rafael de Escazú, sobre Autopista Prospero Fernández</td>
        </tr>
        <tr>
          <td class="footerText">TIBÁS</td>
          <td class="footerText">DESAMPARADOS</td>

        </tr>
        <tr>
          <td class="footerDirectionText">300 metros oeste del cruce de Llorente</td>
          <td class="footerDirectionText">Del cruce de San Miguel 300 metros sur hacia Aserrí</td>
        </tr>
      </table>
      <br>
    </div>
