<ion-view title="EPA | Recuperar">
  <ion-nav-title class="customCenter">
    <img ng-click="recover.go('app.home')" class="imgTitle" src="img/epa-yellow.jpg">
  </ion-nav-title>
  <ion-nav-buttons side="left" ng-if="!recover.isPhone">
      <button menu-toggle="left"  class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>
    <ion-content padding="true" scroll="false" overflow-scroll="true">
      <form id="form"  name="form" novalidate>
          <div class="responsive-md padding-bottom-20">
              <div class="col col-50 col-offset-25 card-background-shadow card-container">
                  <div class="padding-bottom-10">
                       <h4 style='text-align: center' class="title">Recuperar Contraseña</h4>
                    <label class="item item-input">
                      <i class="icon ion-email placeholder-icon"></i>
                      <input type="email" id="email" name="email" placeholder="Ingrese su correo" ng-model="recover.email" required>
                    </label>
                    <div class="padding">
                        <p ng-show="form.email.$invalid && !form.email.$pristine"  class="error">* Debe de ingresar un correo correcto.</p>
                    </div>
                </div>
                <button  class="button button-block button-positive" ng-disabled=" form.$invalid" ng-click="recover.emailExists()">Enviar</button>
              </div>
          </div>
     </form>
    </ion-content>
</ion-view>
