<ion-view  title="EPA | Restaurar"hide-nav-bar="true">
  <ion-nav-title class="customCenter">
    <img ng-click="restore.go('app.home')" class="imgTitle" src="img/epa-yellow.jpg">
  </ion-nav-title>
  <ion-nav-buttons side="left" ng-if="!restore.isPhone">
      <button menu-toggle="left"  class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>
    <ion-content padding="true" scroll="false" overflow-scroll="true">
      <form id="form"  name="form" novalidate>
          <div class="responsive-md padding-bottom-20">
              <div class="col col-50 col-offset-25 card-background-shadow card-container">
                  <div class="padding-bottom-10">
                       <h4 style='text-align: center' class="title">{{viewRestore}}</h4>
                        <div class="padding">
                            <p ng-show="form.code.$invalid && !form.code.$pristine"  class="error">* Código requerido. </p>
                        </div>
                    <label class="item item-input">
                      <i class="icon ion-locked placeholder-icon"></i>
                      <input type="password" id="password"  name="password" placeholder="Contraseña" ng-model="restore.password"  pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" required/>
                    </label>
                        <div class="padding">
                        <p ng-show="form.password.$invalid && !form.password.$pristine"  class="error">* Debe de ingresar una contraseña ó al menos 8 caracteres.</p>
                        </div>
                        <label class="item item-input">
                          <i class="icon ion-locked placeholder-icon"></i>
                          <input type="password" id="cpassword"  name="cpassword" placeholder="Confirmar contraseña" ng-model="restore.cpassword"  pattern=".{8,}" required/>
                        </label>
                            <div class="padding">
                                <p ng-show="form.cpassword.$invalid && !form.cpassword.$pristine"  class="error">* Debe de ingresar una contraseña ó al menos 8 caracteres.</p>
                                <p ng-show="password!=cpassword && !form.cpassword.$pristine"  class="error">* Las contraseñas deben de coincidir.</p>
                            </div>
                <button  class="button button-block button-positive" ng-click="restore.restore()" ng-disabled="form.$invalid || restore.password!= restore.cpassword">Restablecer Contraseña</button>

                  </div>
              </div>
          </div>
     </form>
    </ion-content>
</ion-view>
