<ion-side-menus drag-content="false">

  <ion-side-menu-content  drag-content="true">

    <!--
        <ion-nav-bar class="bar-stable nav-title-slide-ios7">
          <ion-nav-back-button class="button-clear" style="color: #FFF;" ng-if="isPhone">
            <i class="icon ion-ios-arrow-back  button-icon"></i>
          </ion-nav-back-button>
        </ion-nav-bar> -->

        <ion-nav-bar class="bar-dark">
          <ion-nav-back-button class="button-icon button-clear" ng-show="isPhone">
              <i class="icon ion-ios-arrow-back"></i>
          </ion-nav-back-button>

      </ion-nav-bar>

        <ion-nav-view name="menuContent" animation="slide-left-right"></ion-nav-view>
  </ion-side-menu-content>

    <!-- menu view -->
 <ion-side-menu  drag-content="false" ng-if="isPhone" >
    <ion-content overflow-scroll="true">

      <div class="divImgEPAProfile">
        <img src="img/epa-logo.png" alt="">
      </div>

        <ion-list id="ionlistMenu">
		<ion-item nav-clear menu-close ng-click="goTo('app.home')"  class="ionItemMenu" >
          <img class="imgmenu" src="img/icon.png">Inicio
        </ion-item>
		 <ion-item nav-clear menu-close ng-click="goTo('app.favorites')"  class="ionItemMenu">
          <img class="imgmenu" ng-click="goTo('app.favorites')"  src="img/favorite-heart-button.png">Mis favoritos
        </ion-item>
		<ion-item nav-clear menu-close ng-click="goTo('app.shopCart')" class="ionItemMenu">
          <img class="imgmenu"   src="https://image.freepik.com/free-icon/shopping-cart_318-138428.jpg" ng-click="goTo('app.shopCart')" >Mis compras
        </ion-item>
        <ion-item nav-clear menu-close ng-click="goTo('app.profile')" class="ionItemMenu">
          <img class="imgmenu" src="img/avatar1.png" >Mi perfil
        </ion-item>
        <ion-item nav-clear menu-close ng-click="goTo('app.changePassword')" class="ionItemMenu">
          <div class="">
            <i class="fa fa-lock faicon" aria-hidden="true"></i>&emsp;Cambiar contraseña
          </div>
        </ion-item>
        <ion-item nav-clear menu-close ng-click="goTo('app.promotion')"  class="ionItemMenu" >
          <img class="imgmenu" src="img/gift.png" ng-click="goTo('app.promotion')" >Promociones
        </ion-item>
        <ion-item ng-if="isPhone" nav-clear menu-close ng-click="scanCode()" class="ionItemMenu">
               <img src="img/barcode.png" class="imgmenu">Escanear Producto
        </ion-item>

      </ion-list>

      <ion-list ng-if="false">
       <div ng-repeat="group in groups" ng-if="isPhone">
         <ion-item class="item-stable"
                   ng-click="toggleGroup(group)"
                   ng-class="{active: isGroupShown(group)}">
             <i class="icon" ng-class="isGroupShown(group) ? 'ion-minus' : 'ion-plus'"></i>
           &nbsp;
           {{group.name | ampersand}}
         </ion-item>
         <ion-item class="item-accordion"
                   ng-repeat="item in group.items"
                   ng-show="isGroupShown(group)">
           <ion-item nav-clear menu-close class="itemArea" ng-click="useArea(item)">
              <p ng-bind="item.area | ampersand"></p>
            </ion-item>
       </div>
     </ion-list>


    </ion-content>
  </ion-side-menu>

</ion-side-menus>
