<ion-view title="EPA | Subáreas">
    <!-- Menu mobile y web -->
      <ion-nav-title class="customCenter" >
        <img  ng-if="isPhone" ng-click="goTo('app.home')" class="imgTitle" src="img/epa-yellow.jpg" ng-hide="searching && isPhone">
      </ion-nav-title>

      <ion-nav-buttons side="left">
          <div epa-left></div>
        </ion-nav-buttons>
        <ion-nav-buttons side="right" >
          <div epa-right></div>
      </ion-nav-buttons>

    <ion-content overflow-scroll="true" epa-movescroll>
        <!-- Loading -->
        <span class="loading"  ng-if="!ready">
            <span class=" ld ld-ring ld-spin loadingCenter" style="font-size:64px; color:#8da"></span>
        </span>

        <section class="catalogBody">
          <section class="mainSectionSubAreas"  ng-show="ready">
            <section class="sectionAreas" ng-repeat="subarea in subareasList">

                <div class="">
                    <a class="subTitleAreas" style="margin-top:2%"  ng-click="useSubarea(subarea)" ng-bind="subarea.subarea | ampersand" id="{{subarea.subarea}}"></a>
                    <div class="icon" ng-click="useSubarea(subarea)">
                        <span class="name moredetails">Ver más</span>
                    </div>
                </div>
                <div class="tz-gallery" ng-if="!isPhone" >
                    <div class="row hiddenScroll">
                        <div ng-repeat="product in subarea.productsSubList | limitTo:7 track by $index" class="col-sm-6 col-md-4 customGalleryItems">

                            <div class="thumbnail" ng-click="useProduct(product)">
                                <a class="lightbox">
                                    <img ng-src="{{product.image.toString() | thumb}}" alt="Traffic">
                                </a>
                                <div class="caption">
                                    <h3 ng-bind="product.name | ampersand"></h3>
                                    <strong ng-bind="product.price.toString() | currency : '₡'"></strong>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tz-gallery" ng-if="isPhone" >
                    <div class="row">
                        <div ng-repeat="product in subarea.productsSubList track by $index" class="col-sm-6 col-md-4 customGalleryItems">

                            <div class="thumbnail" ng-click="useProduct(product)">
                                <a class="lightbox">
                                    <img ng-src="{{product.image.toString() | thumb}}" alt="Traffic">
                                </a>
                                <div class="caption">
                                    <h3 ng-bind="product.name | ampersand"></h3>
                                    <strong ng-bind="product.price.toString() | currency : '₡'"></strong>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </section>
            </section>
        </section>


        <div epa-footer></div>

    </ion-content>
    <div epa-scroll></div>
</ion-view>
