<ion-view title="EPA | Carrito">

    <ion-nav-title class="customCenter">
        <img ng-click="goTo('app.home')" class="imgTitle" src="img/epa-yellow.jpg">
    </ion-nav-title>
    <!-- Menu mobile y web -->
    <ion-nav-title class="customCenter">
        <img ng-if="isPhone" ng-click="goTo('app.home')" class="imgTitle" src="img/epa-yellow.jpg" ng-hide="searching && isPhone">
    </ion-nav-title>

    <ion-nav-buttons side="left">
        <div epa-left></div>
    </ion-nav-buttons>
    <ion-nav-buttons side="right">
        <div epa-right></div>
    </ion-nav-buttons>

    <ion-content style="" overflow-scroll="true" epa-movescroll>
        <!-- Loading -->
        <span class="loading" ng-if="!ready">
        <span class=" ld ld-ring ld-spin loadingCenter nc" style="font-size:64px;"></span>
        </span>

        <section class="catalogBody">
              <h3 class="titleSubarea searchTitleMargin" style="margin-top:2%"  ng-show="ready">Carro de compras</h3>
              <br> <strong style="padding:20px; float:left" class="priceShop priceShopPhone" ng-if="!isPhone">Total: {{  getTotal(cartList).toString() | currency : '₡'}} <br></strong>
              <br> <strong style="padding:20px; float:left" class="priceShopPhone" ng-if="isPhone">Total: {{  getTotal(cartList).toString() | currency : '₡'}} <br></strong>
            <div class="rowP" ng-if="!isPhone">
                <div class="4u 12u(mobile)" ng-repeat="product in cartList">
                    <article class="box1 style2 productsShopCart" ng-click="">
                            <img ng-src="{{product.product.image| thumb}}" ng-click="useProduct(product.product)" />
                            <div class="textPro">
                                <h4 id="textp">{{product.product.name | ampersand | limitTo: 30}}{{promotion.name.length > 20 ? '...' : ''}}</h4>
                                <p id="textp" class="focProd" ng-repeat="promotion in product.product.products" style="color: black;" ng-click="useProduct(promotion)">{{promotion.name | ampersand | limitTo: 15 }}{{promotion.name.length > 15 ? '...' : ''}}</p>
                            </div>
                            <div class="textPro" style="margin-bottom: 20px;">
                                <p ng-bind="(product.product.price * product.cartquantity).toString()   | currency : '₡'"></p>
                                <div class="quantityContent">
                                    <div class="quantityLeftf">
                                        <button id="cantProduct" class="button" type="button" name="button" ng-disabled="product.cartquantity == 1"  ng-click="changeQuantity('less',product)">
                                         <a ><span class="glyphicon glyphicon-minus" aria-hidden="true"></span></a>
                                        </button>
                                        <p id="numProduct" ng-bind="product.cartquantity"></p>
                                         <button id="cantProduct" class="button" type="button" name="button"  ng-click="changeQuantity('plus', product)">
                                            <a><span class="glyphicon glyphicon-plus" aria-hidden="true"></span></a>
                                        </button>
                                          <button id="cantProduct" class="button" type="button" name="button" ng-click="removeFromCart($index)">
                                             <a><span class="glyphicon glyphicon-trash" aria-hidden="true"></span></a>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </article>
                </div>
            </div>
            <div class="rowP" ng-if="isPhone">
                <div class="4u 12u(mobile)" ng-repeat="product in cartList">
                    <article class="box1 style2" ng-click="">
                            <img ng-src="{{product.product.image| thumb}}" ng-click="useProduct(product.product)" />
                            <div class="textPro">
                                <h4 id="textp">{{product.product.name | ampersand}}</h4>
                                <p id="textp" class="focProd" ng-repeat="promotion in product.product.products" style="color: black;" ng-click="useProduct(promotion)">{{promotion.name | ampersand | limitTo: 15 }}{{promotion.name.length > 15 ? '...' : ''}}</p>
                            </div>
                            <div class="textPro" style="margin-bottom: 20px;">
                                <p ng-bind="(product.product.price * product.cartquantity).toString()   | currency : '₡'"></p>
                                <div class="quantityContent">
                                    <div class="quantityLeftf">
                                        <button id="cantProduct" class="button" type="button" name="button" ng-disabled="product.cartquantity == 1"  ng-click="changeQuantity('less',product)">
                                         <a ><span class="glyphicon glyphicon-minus" aria-hidden="true"></span></a>
                                        </button>
                                        <p id="numProduct" ng-bind="product.cartquantity"></p>
                                         <button id="cantProduct" class="button" type="button" name="button"  ng-click="changeQuantity('plus', product)">
                                            <a><span class="glyphicon glyphicon-plus" aria-hidden="true"></span></a>
                                        </button>
                                          <button id="cantProduct" class="button" type="button" name="button" ng-click="removeFromCart($index)">
                                             <a><span class="glyphicon glyphicon-trash" aria-hidden="true"></span></a>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </article>
                </div>
            </div>
            <div ng-if="!isPhone">
            <a href="" class="float floatShopCart">
                <i class="fa fa-credit-card-alt my-float " aria-hidden="true" ng-click="buy()"></i>
            </a>
            <div class="label-container">

                <div class="label-text">Realizar compra</div>
                <i class="fa fa-play label-arrow"></i>
            </div>
        </div>
        <div ng-if="isPhone">
        <a href="" class="float floatShopCartPhone">
            <i class="fa fa-credit-card-alt my-float " aria-hidden="true" ng-click="buy()"></i>
        </a>
        <div class="label-container">

            <div class="label-text">Realizar compra</div>
            <i class="fa fa-play label-arrow"></i>
        </div>
    </div>
        </section>
        <div epa-footer></div>
    </ion-content>
    <div epa-scroll></div>
</ion-view>
