<ion-view title="EPA | Registro">
  <ion-nav-title class="customCenter">
    <img ng-click="create.go('app.home')" class="imgTitle" src="img/epa-yellow.jpg">
  </ion-nav-title>
  <ion-nav-buttons side="left" ng-if="!create.isPhone">
      <button menu-toggle="left"  class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>
    <ion-content padding="true" scroll="false" overflow-scroll="true">
      <form id="form"  name="form" novalidate>
          <div class="responsive-md padding-bottom-20">
              <div class="col col-50 col-offset-25 card-background-shadow card-container">
                  <div class="padding-bottom-10">
                       <h4 style='text-align: center' class="title">{{viewRegistro}}</h4>
                    <label class="item item-input">
                      <i class="icon ion-person placeholder-icon"></i>
                      <input type="text" id="firstname" name="firstname" placeholder="Nombre" ng-model="create.firstname" required>
                    </label>
                        <div class="padding">
                            <p ng-show="form.firstname.$invalid && !form.firstname.$pristine"  class="error">* Nombre es requerido. </p>
                        </div>
                    <label class="item item-input">
                      <i class="icon ion-person placeholder-icon"></i>
                      <input type="text" id="lastname" name="lastname" placeholder="Apellidos" ng-model="create.lastname" required>
                    </label>
                        <div class="padding">
                            <p ng-show="form.lastname.$invalid && !form.lastname.$pristine"  class="error">* Apellido requerido. </p>
                        </div>
                    <label class="item item-input">
                      <i class="icon ion-locked placeholder-icon"></i>
                      <input type="password" id="password"  name="password" placeholder="Contraseña" ng-model="create.password"  pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" required>
                    </label>
                        <div class="padding">
                            <p ng-show="form.password.$invalid && !form.password.$pristine"  class="error">Debe contener al menos un número y una letra mayúscula y minúscula, y al menos 8 o más caracteres</p>
                        </div>
                        <label class="item item-input">
                          <i class="icon ion-locked placeholder-icon"></i>
                          <input type="password" id="cpassword"  name="cpassword" placeholder="Confirmar contraseña" ng-model="create.cpassword"  pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" required/>
                        </label>
                            <div class="padding">
                                <p ng-show="form.cpassword.$invalid && !form.cpassword.$pristine"  class="error">Debe contener al menos un número y una letra mayúscula y minúscula, y al menos 8 o más caracteres</p>
                                <p ng-show="create.password!=create.cpassword && !form.cpassword.$pristine"  class="error">* Las contraseñas deben de coincidir.</p>
                            </div>
                    <label class="item item-input">
                      <i class="icon ion-email placeholder-icon"></i>
                      <input type="email" id="email" name="email" placeholder="Correo" ng-model="create.email" required>
                    </label>
                        <div class="padding">
                            <p ng-show="form.email.$invalid && !form.email.$pristine"  class="error">* Debe de ingresar un correo correcto.</p>
                        </div>
                    <label class="item item-input">
                      <i class="icon ion-earth placeholder-icon"></i>
                      <input type="text"  placeholder="Dirección" ng-model="create.address" required>
                    </label>
                    <label class="item item-input">
                      <i class="icon ion-iphone placeholder-icon"></i>
                      <input type="number" min="0" step="1" id="phone" name="phone" placeholder="Telefono" ng-model="create.phone" required>
                    </label>
                        <div class="padding">
                            <p ng-show="form.phone.$invalid && !form.phone.$pristine" class="error">* El teléfono es requerido. </p>
                        </div>
                </div>
                <button  class="button button-block button-positive" ng-click="create.createUser()" ng-disabled=" form.$invalid || create.password!=create.cpassword ">Registrarse</button>
     </form>
    </ion-content>
</ion-view>
