<ion-view title="EPA | Iniciar sesión" id="login-center">
  <ion-nav-title class="customCenter">
    <img ng-click="login.go('app.home')" class="imgTitle" src="img/epa-yellow.jpg">
  </ion-nav-title>
  <ion-nav-buttons side="left" ng-if="isPhone">
      <button menu-toggle="left"  class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>
    <ion-content padding="true" scroll="false">
      <form id="form"  name="form"  novalidate >
          <div class="responsive-md padding-bottom-20">
              <div class="col col-50 col-offset-25 card-background-shadow card-container">
                  <div class="padding text-center padding-bottom-15">
                      <i class="fa fa-user-circle-o fa-5x"  style="color:#2a6496" aria-hidden="true"></i>
                      <h4 style="color:#2a6496">Ingresar al Sistema</h4>
                  </div>
                  <div class="padding-bottom-10">
                    <label class="item item-input">
                      <i class="icon ion-person placeholder-icon"></i>
                      <input type="email" placeholder="Ingrese su correo" ng-model="login.email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$" required>
                    </label>
                    <div class="padding">
                        <p ng-show="form.email.$invalid && !form.email.$pristine"  class="error">* Debe de ingresar un correo correcto.</p>
                    </div>
                    <label class="item item-input">
                      <i class="icon ion-locked placeholder-icon"></i>
                      <input  name="pass" type="{{login.models.pass}}" placeholder="Contraseña" ng-model="login.password" required>
                      <i class="icon ion-eye" on-touch="login.viewPassField('pass')" style="border-left:1px solid #ccc!important; font-size: 25px !important;margin-right:5px;padding-left:5px"></i>
                    </label>
                  </div>
                  <button id="btnLogin" class="button button-block button-positive" ng-click="login.getUser()" ng-disabled=" form.$invalid">Ingresar</button>
                  <button id="btnCreate" class="button button-block button-energized"  ng-click="login.go('app.create')">Registrarse</button>
                  <p><a ng-click="login.go('app.recover') ">¿Has olvidado tu contraseña?</a></p>
                </div>
              </div>
      </form>
    </ion-content>
</ion-view>
