<table>
  <tbody>
    <tr>
      <td><button  ng-if="isPhone" menu-toggle="left"  class="button button-icon icon ion-navicon"></button></td>
      <td><img  ng-if="!isPhone"   ng-click="goTo('app.home')" class="imgTitle2 " src="img/epa-yellow.jpg" ng-hide="searching && isPhone"></td>
        <td  ng-if="!isPhone" ng-repeat="areas in areasList">
            <div  class="dropdown">

            <div class="row ">
                 <span class="triangulo trianguloTop"></span>
                   <div class="menuweb">
                       <button class="dropbtn"></button>
                       <a class="btn btn-default " ng-click="scrollTo(areas.area.toString()); refreshSubAreas(areas);useArea(areas)" data-toggle=" areas.area | ampersand" title="{{areas.area | ampersand}} ">{{ areas.area | ampersand| limitTo: 10 }}{{areas.area.length > 10 ? '...' : ''}}</a>
                   </div>
            </div>
            <div class="dropdown-content">
                <a class="btn btn-default" ng-repeat="subareas in areas.subareas" ng-bind="subareas.subarea | ampersand" ng-click="useSubarea(subareas); refreshProducts(subareas)"  id="{{subareas.subarea}}" ></a>
            </div>
        </div>

      </td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
  </tbody>
</table>
