<ion-view title="EPA | Favoritos">
    <!-- Menu mobile y web -->
    <ion-nav-title class="customCenter">
        <img ng-if="isPhone" ng-click="goTo('app.home')" class="imgTitle" src="img/epa-yellow.jpg" ng-hide="searching && isPhone">
    </ion-nav-title>

    <ion-nav-buttons side="left">
        <div epa-left></div>
    </ion-nav-buttons>
    <ion-nav-buttons side="right">
        <div epa-right></div>
    </ion-nav-buttons>
    <!--Termina el menu-->

    <ion-content overflow-scroll="true" epa-movescroll>
        <!-- Loading -->
        <span class="loading" ng-if="!ready">
        <span class=" ld ld-ring ld-spin loadingCenter nc" style="font-size:64px;"></span>
        </span>

        <section class="catalogBody">
        <h3 class="titleSubarea searchTitleMargin" style="margin-top:2%" ng-show="ready">Lista de deseos</h3>
            <div class="rowP" ng-if="!isPhone">
                <div class="4u 12u(mobile)" ng-repeat="product in favorites.favoriteList">
                    <article class="box1 style2 productsWishList" ng-click="">
                        <a class="imageP featured" ng-click="">
                            <img ng-src="{{product.image.toString() | thumb}}" ng-click="useProduct(product)" />
                        </a>
                        <div class="textPro">
                            <h4 id="textp" ng-bind="product.name | ampersand"></h4>
                            <p id="textp" class="focProd" ng-repeat="promotion in product.products" style="color: black;" ng-click="useProduct(promotion)">{{promotion.name | ampersand | limitTo: 20 }}{{promotion.name.length > 20 ? '...' : ''}}</p>
                        </div>
                        <div class="textPro">
                            <a class="iconFav" ng-click="favorites.removeFromFavorites($index)"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span></a>
                            <a class="iconFav" ng-click="favorites.openModal(product)"><span class="glyphicon glyphicon glyphicon-shopping-cart" aria-hidden="true"></span></a>
                        </div>
                    </article>
                </div>
            </div>
            <div class="rowP" ng-if="isPhone">
                <div class="4u 12u(mobile)" ng-repeat="product in favorites.favoriteList">
                    <article class="box1 style2 productsWishList" >
                        <h4 id="textp" ng-bind="product.name | ampersand"></h4>
                        <p id="textp" class="focProd" ng-repeat="promotion in product.products" style="color: black;" ng-click="useProduct(promotion)">{{promotion.name | ampersand}}</p>
                        <a class="imageP featured" ng-click="">
                            <img ng-src="{{product.image.toString() | thumb}}" ng-click="useProduct(product)" />
                            <div class="textPro">
                                <a class="iconFav" ng-click="favorites.removeFromFavorites($index)"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span></a>
                                <a class="iconFav" ng-click="favorites.openModal(product)"><span class="glyphicon glyphicon glyphicon-shopping-cart" aria-hidden="true"></span></a>
                            </div>
                        </a>
                    </article>
                </div>
            </div>
        </section>

        <div epa-footer></div>
    </ion-content>
    <div epa-scroll></div>
</ion-view>
