
<ion-modal-view id="modalShop">
          <form id="quantityForm" name="quantityForm" novalidate>
            <ion-header-bar id="barTitle1" class="bar-positive fix-buttons">
              <a class="button" id="barTitle1" style="align:center;" ng-click="closeModal()">Cancelar</a>
              <input class="button" id="barTitle1" ng-disabled= "quantityForm.$invalid" ng-click="addToCart(actualQuantity)" value="Añadir al carrito"/>
            </ion-header-bar>
            <ion-content name="quantity" has-bouncing="true">
              <div class="quantityBox">
            
                  <label class="">
                    <label id="quantity2">Cantidad</label>
                    <input id="quantity" name="quantity" type="number" placeholder="Cantidad" value="1" min="1"  required/>
                  </label>
                </div>
            </ion-content>
          </form>
</ion-modal-view>

