<ion-view title="EPA | Perfil de Usuario">
  <ion-nav-title class="customCenter">
    <img ng-click="go('app.home')" class="imgTitle" src="img/epa-yellow.jpg"></img>
  </ion-nav-title>
  <ion-nav-buttons side="left" ng-if="!modifyPass.isPhone">
    <button menu-toggle="left"  class="button button-icon icon ion-navicon" ng-if="isPhone"></button>

  </ion-nav-buttons>
  <ion-content padding="true" scroll="false">
    <h2 style="color:#2a6496;text-align: center;">Modificar Contraseña</h2>
    <form id="form"  name="form"  novalidate >
      <div class="responsive-md padding-bottom-20">
        <div class="col col-50 col-offset-25 card-background-shadow card-container">
          <div class="padding-bottom-10">
            <h4 style='text-align: center' class="title">{{viewRegistro}}</h4>

            <div class="padding">
            </div>


            <h4 style="color:#2a6496">Contraseña Anterior</h4>
            <label class="item item-input">
              <i class="icon ion-locked placeholder-icon"></i>
              <input  name="passOld" type="{{models.passOld}}" ng-model="modifyPass.passOld" required>
              <i class="icon ion-eye" on-touch="viewPassField('passOld')" style="border-left:1px solid #ccc!important; font-size: 25px !important;margin-right:5px;padding-left:5px"></i>
            </label>
            <div class="padding">
            </div>

            <h4 style="color:#2a6496">Contraseña Nueva</h4>
            <label class="item item-input">
              <i class="icon ion-locked placeholder-icon"></i>
              <input  name="passNew" type="{{models.passNew}}" pattern="^(?=.*[A-Za-z])(?=.*\d)[A-Za-z\d]{8,}$" ng-model="modifyPass.passNew" required>
              <div class="showPassEye">
                <i class="icon ion-eye" on-touch="viewPassField('passNew')" style="border-left:1px solid #ccc!important; font-size: 25px !important;margin-right:5px;padding-left:5px"></i>
              </div>
            </label>
            <div class="padding">
              <p ng-show="form.passNew.$invalid && !form.passNew.$pristine" class="error">Debe contener al menos un número y una letra mayúscula y minúscula, y al menos 8 o más caracteres</p>
            </div>


            <h4 style="color:#2a6496">Confirmar Contraseña</h4>
            <label class="item item-input">
              <i class="icon ion-locked placeholder-icon"></i>
              <input  name="passConfirm" type="{{models.passConfirm}}" pattern="^(?=.*[A-Za-z])(?=.*\d)[A-Za-z\d]{8,}$" ng-model="modifyPass.passConfirm" required>
              <i class="icon ion-eye" on-touch="viewPassField('passConfirm')" style="border-left:1px solid #ccc!important; font-size: 25px !important;margin-right:5px;padding-left:5px"></i>
            </label>
            <div class="padding">
              <p ng-show="form.passConfirm.$invalid && !form.passConfirm.$pristine" class="error">Debe contener al menos un número y una letra mayúscula y minúscula, y al menos 8 o más caracteres</p>
              <p ng-show="modifyPass.passConfirm!=modifyPass.passNew && !form.passConfirm.$pristine"  class="error"> Las contraseñas deben de coincidir.</p>
            </div>


          </div>
          <button  class="button button-block button-positive" ng-click="changePassword()" ng-disabled="form.$invalid || modifyPass.passConfirm!=modifyPass.passNew">Modificar Contraseña </button>
        </div>
      </div>

    </form>




  </ion-content>
</ion-view>
