<ion-view title="EPA | Historial">
  <ion-nav-title class="customCenter">
    <img ng-click="goTo('app.home')" class="imgTitle" src="img/epa-yellow.jpg">
  </ion-nav-title>
  <ion-nav-buttons side="left">
      <div epa-left></div>
    </ion-nav-buttons>
    <ion-nav-buttons side="right" >
      <div epa-right></div>
  </ion-nav-buttons>
    <ion-content overflow-scroll="true">
      <div epa-footer></div>
    </ion-content>
</ion-view>
