<link href="css/promotion/style.css" rel="stylesheet" type="text/css" media="all" />
<link href='//fonts.googleapis.com/css?family=Pompiere' rel='stylesheet' type='text/css'>
<link href='//fonts.googleapis.com/css?family=Fascinate' rel='stylesheet' type='text/css'>
<link href="css/promotion/animate.min.css" rel="stylesheet">
<link href="css/style.css" rel="stylesheet">
<script src="js/promotion/filter.js"></script>

<ion-view title="EPA | Promociones">
    <!-- Menu mobile y web -->

    <ion-nav-title class="customCenter">
        <img ng-if="isPhone" ng-click="goTo('app.home')" class="imgTitle" src="img/epa-yellow.jpg" ng-hide="searching && isPhone">
    </ion-nav-title>

    <ion-nav-buttons side="left">
        <div epa-left></div>
    </ion-nav-buttons>
    <ion-nav-buttons side="right">
        <div epa-right></div>
    </ion-nav-buttons>

    <ion-content overflow-scroll="true" class="prom1" onchange="typeProm()" epa-movescroll>
        <br> <br>

        <div class="title-info wow fadeInUp animated" data-wow-delay=".5s">
            <!-- Filtros de promociones-->
            <p id="filterProm">Filtrar promociones</p>
            <label style="">

                      <select name="repeatSelect" id="repeatSelect"  ng-model="data2.model" onchange="pagoOnChange(this)" class="selectpicker selectP2" style="margin: 20px;" onclick="typeProm()">
                        <option value="" disabled selected>Tipo de promoción:</option>
                        <option  onchange="pagoOnChange(this)"  id="optionP" ng-repeat="option in data2.optionsCombo" value="{{option.id}}"> <a> {{option.name}}</a></option>
                     </select>
                      <script type="text/javascript"></script>

                     <select name="repeatSelect" id="repeatSelect" ng-model="data.model" ng-change="printSelected()" class="selectpicker selectP2" style="margin: 10px;">
                           <option value="" disabled selected>Ordenar:</option>
                           <option ng-repeat="option in data.availableOptions" value="{{option.id}}">{{option.name}}</option>
                     </select>
                  </label>
            <h3 class="title" id="textProm">Nuevas <span>Promociones</span></h3>
            <p id="verProm" style="display: none">No hay promociones en este momento</p>
        </div>
        <!-- Tipo de promocones en combo-->
        <div id="divCombo">

            <div class="banner" ng-repeat="promotion in productList | filter: { type: 'combo'} | orderBy:data.model">
                <div class="container">
                    <div class="banner-text">
                        <div class="col-sm-5 banner-left wow fadeInLeft animated" data-wow-delay=".5s">
                            <h2 class="textProm" id="valCombo" ng-bind="promotion.name"></h2>

                            <div class="count main-row">
                                <h4 class="textProm">Válido {{promotion.startDate}} al {{promotion.endDate}} </h4>
                                <h3 class="textProm"> Incluye</h3>
                                <h6 class="nameProductPromo" id="textProm" ng-repeat="prod in promotion.products"> • {{prod.name}}</h6>
                            </div>
                        </div>

                        <div class="col-sm-7 banner-right wow fadeInRight animated" data-wow-delay=".5s">
                            <h5 class="textProm" ng-bind=" {{promotion.price}} | currency : '₡'"> Colones</h5>

                            <a id="iconDetail" ng-click="openModal(promotion,promotion.endDate)" class="button "><img id="imgIconDetail" src="img/shopping-cart.png" /></a>
                            <a id="iconDetail" ng-click="addToFavorites(promotion,promotion.endDate)" class="button "><img id="imgIconDetail" src="img/heart2.png" /></a>

                            <div class="divCombo">
                                <ul class="slides">
                                    <li ng-repeat="prod in promotion.products">

                                        <a class="prodViewProm" ng-click="useProduct2(prod)"><img class="imgCombo" ng-src={{prod.image}} alt=""> </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="clearfix"> </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="gallery" id="divGallery" style="display:; background-color:#f2f2f2;">
            <div class="container">

                <div id="divDescuento" style="display:;">
                    <div class="gallery-info">
                        <!-- Tipo de promociones de descuento -->

                        <div class="col-md-3 gallery-grid wow flipInY animated" data-wow-delay=".5s" ng-repeat="promotion in productList | filter: { type: 'individual' } | orderBy:data.model ">
                            <a><img ng-src={{promotion.products.image}} class="img-responsive" alt="" /></a>
                            <div class="gallery-text simpleCart_shelfItem">
                                <h5 class="textProm" id="valDescuento"><a class="name" ng-click="useProduct2(promotion.products)"> {{promotion.name}} - ₡{{promotion.price}} </a></h5>
                                <p><span class="item_price">{{promotion.discountPercent}}%  </span></p>
                                <h4 class="sizes" id="textProm">Válido {{promotion.startDate}} al {{promotion.endDate}} </h4>
                                <ul>
                                    <li><a class="item_add" ng-click="openModal(promotion.products,promotion.endDate)"><span class="glyphicon glyphicon glyphicon-shopping-cart" aria-hidden="true"></span></a></li>
                                    <li><a class="item_add" ng-click="addToFavorites(promotion.products,promotion.endDate)"><span class="glyphicon glyphicon-heart" aria-hidden="true"></span></a></li>

                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Tipo de promociones al por mayor-->
                <div id="divMayor" style="display:;">
                    <div class="col-md-3 gallery-grid wow flipInY animated" data-wow-delay=".5s" ng-repeat="promotion in productList | filter: { type: 'mayor' } | orderBy:data.model">
                        <a><img ng-src={{promotion.products.image}} class="img-responsive" alt="" /></a>
                        <div class="gallery-text simpleCart_shelfItem">
                            <h5 class="textProm" id="valMayor"><a class="name" ng-click="useProduct2(promotion.products)"> {{promotion.name}} - ₡{{promotion.price}} </a></h5>
                            <p><span class="item_price">{{promotion.getPrice}} X {{promotion.payPrice}} </span></p>
                            <h4 class="sizes" id="textProm">Válido {{promotion.startDate}} al {{promotion.endDate}} </h4>
                            <ul>
                                <li><a class="item_add" ng-click="openModal(promotion.products,promotion.endDate)"><span class="glyphicon glyphicon glyphicon-shopping-cart" aria-hidden="true"></span></a></li>

                                <li><a class="item_add" ng-click="addToFavorites(promotion.products,promotion.endDate)"><span class="glyphicon glyphicon-heart" aria-hidden="true"></span></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>

         <div epa-footer style="margin-bottom: 0px;"></div>
    </ion-content>
   <div epa-scroll></div>
</ion-view>
