<table class="tableRight">
  <tbody>
    <tr>
      <td style="vertical-align:middle;"><button class="button icon fa fa-search button-clear pull-right" ng-click="searchOnOff()" ng-show="!searching"></button></td>
      <td style="vertical-align:middle;">
        <button class="button icon fa fa-times-circle-o button-clear pull-right closeSearch" ng-click="searchOnOff()" ng-show="searching"></button>
        <div ng-show="searching"  class="item item-input-inset sea searchingYellow rtl"  name="searchForm" novalidate>
        <input id="inputSearch" type="text" ng-model="searchText" required>
        <button ng-disabled="searchForm.$invalid" type="submit" class="button buttonSearch" ng-click="searchProductss(searchText)">Buscar</button>
        </div>
      </td>
      <td style="vertical-align:middle;">
        <div ng-if="!isPhone"class="dropdown">
          <button class="button icon fa fa-user-o button-clear pull-right "   ></button>
          <button class="dropbtn"></button>
              <div class="dropdown-content contentProfile">
                  <div class="backProfile">
                    <i ng-show="actualUser" class="fa fa-user-circle-o fa-3x imgProfileRight" style="color:#f2f2f2" aria-hidden="true"></i>
                    <br ng-show="actualUser">
                    <strong class="textProfile" ng-show="actualUser" ng-bind="actualUser.firstname + ' '+ actualUser.lastname"></strong>
                  </div>
                  <button ng-show="actualUser" class="btn btn-default btnInLefTitle" go-to="app.profile" >Editar perfil</button>
                  <button ng-show="actualUser" class="btn btn-default btnInLefTitle" go-to="app.changePassword" >Cambiar contraseña</button>
                  <button ng-show="false" class="btn btn-default btnInLefTitle" go-to="app.shoppingHistory" >Historial de compras</button>
                  <button ng-show="!actualUser" class="btn btn-default btnInLefTitle" go-to="app.login" >Iniciar sesión</button>
                  <button ng-show="actualUser" class="btn btn-default btnInLefTitle" click-logout>Cerrar sesión</button>
              </div>
          </div></td>
          <td style="vertical-align:middle;"><button ng-if="!isPhone" class="button icon fa fa-heart-o button-clear pull-right" go-to="app.favorites" title="Lista de deseos"></button></td>
          <td style="vertical-align:middle;"><button ng-if="!isPhone" class="button icon fa fa-shopping-cart button-clear pull-right" go-to="app.shopCart" title="Carro de compras"></button></td>
          <td style="vertical-align:middle;"><button ng-if="!isPhone" class="button icon fa fa-gift button-clear pull-right"  go-to="app.promotion" title="Promociones"></button></td>
    </tr>
  </tbody>
</table>
