<ion-view title="EPA | Productos">

  <!-- Menu mobile y web -->
  <ion-nav-title class="customCenter" >
    <img  ng-if="isPhone" ng-click="goTo('app.home')" class="imgTitle" src="img/epa-yellow.jpg" ng-hide="searching && isPhone">
  </ion-nav-title>
  <ion-nav-buttons side="left">
    <div epa-left></div>
  </ion-nav-buttons>
  <ion-nav-buttons side="right" >
    <div epa-right></div>
  </ion-nav-buttons>
  <ion-content overflow-scroll="true" epa-movescroll>
    <!-- Loading -->
    <span class="loading"  ng-if="!ready">
      <span class=" ld ld-ring ld-spin loadingCenter" style="font-size:64px; color:#8da"></span>
    </span>
    <!-- product list view-->


    <section class="catalogBody">

      <div>
        <h3 class="titleSubarea" style="margin-top:2%" ng-bind="nameSubarea1 | ampersand"></h3>
      </div>

      <nav ng-if="!isPhone" aria-label="Page navigation example" style="width:100%; text-align: center; margin-bottom:-3%">
        <ul class="pagination pagination-md">

          <li class="page" ng-show="showLeft"><a href="" ng-click="goToPage(1)">Primera</a></li>

          <li ng-show="showLeft" class="page-item">
            <a class="page-link" href="" aria-label="Previous" ng-click="previousProducts()">
              <span aria-hidden="true">&lsaquo;</span>
              <span class="sr-only">Previous</span>
            </a>
          </li>

          <li class="page" ng-show="moreLeft"><span style="background: none; border: none">...</span></li>

          <li ng-repeat="page in subPagesArray" class="myColor">
            <a ng-click="goToPage(page)" href="" id="{{page}}" ng-style="{{page}} == actualPage ? {'background-color':'#009de0','color': 'white'} : {'background-color':'none'}"  >{{page}}</a>
          </li>

          <li class="page" ng-show="moreRight"><span style="background: none; border: none">...</span></li>

          <li ng-show="showRight" class="page-item">
            <a class="page-link" href="" aria-label="Next" ng-click="nextProducts()">
              <span aria-hidden="true">&rsaquo;</span>
              <span class="sr-only">Next</span>
            </a>
          </li>

          <li class="page" ng-show="showRight"><a href="" ng-click="goToPage(totalPage)">Última</a></li>
        </ul>
      </nav>

      <nav ng-if="isPhone" aria-label="Page navigation example" style="width:100%; text-align: center; margin-bottom:-3%">
        <ul class="pagination pagination-sm">

          <li class="page" ng-show="showLeft"><a href="" ng-click="goToPage(1)">&laquo;</a></li>


          <li ng-show="showLeft" class="page-item">
            <a class="page-link" href="" aria-label="Previous" ng-click="previousProducts()">
              <span aria-hidden="true">&lsaquo;</span>
              <span class="sr-only">Previous</span>
            </a>
          </li>

          <li class="page" ng-show="moreLeft"><span style="background: none; border: none">...</span></li>

          <li ng-repeat="page in subPagesArray" class="myColor">
            <a ng-click="goToPage(page)" href="" id="{{page}}" ng-style="{{page}} == actualPage ? {'background-color':'#009de0','color': 'white'} : {'background-color':'none'}"  >{{page}}</a>
          </li>

          <li class="page" ng-show="moreRight"><span style="background: none; border: none">...</span></li>

          <li ng-show="showRight" class="page-item">
            <a class="page-link" href="" aria-label="Next" ng-click="nextProducts()">
              <span aria-hidden="true">&rsaquo;</span>
              <span class="sr-only">Next</span>
            </a>
          </li>

          <li class="page" ng-show="showRight"><a href="" ng-click="goToPage(totalPage)">&raquo;</a></li>
        </ul>
      </nav>

      <div class="rowP" ng-show="ready">
        <div class="4u 12u(mobile) " ng-if="!isPhone" ng-repeat="product in productList">
          <article class="box1 style2 maxAndMinProducts" ng-click="useProduct(product)">
            <a class="imageP featured"  ng-click="useProduct(product)">
              <img ng-src="{{product.image.toString() | thumb}}" />
              <div class="textPro" >
                <h4 id="textp"><a ng-bind="product.name | ampersand"></a>
                </h4>
                <p ng-bind="product.price.toString() | currency : '₡'"></p>

              </div>
            </a>
          </article>
        </div>
        <div class="4u 12u(mobile)" ng-if="isPhone" ng-repeat="product in productList">
          <article class="box1 style2 maxAndMinProductsPhone" ng-click="useProduct(product)">
            <a class="imageP featured"  ng-click="useProduct(product)">
              <img ng-src={{product.image}} />
              <div class="textPro" >
                <h4 id="textp"><a>{{ product.name | ampersand | limitTo: 30 }}{{product.name.length > 30 ? '...' : ''}}</a>
                </h4>
                <p ng-bind="product.price.toString() | currency : '₡'"></p>

              </div>
            </a>
          </article>
        </div>
      </div>
      
      <div class="rowP" ng-show="ready">
      <nav ng-if="!isPhone" aria-label="Page navigation example" style="width:100%; text-align: center; margin-bottom:10%">
        <ul class="pagination pagination-md">

          <li class="page" ng-show="showLeft"><a href="" ng-click="goToPage(1)">Primera</a></li>

          <li ng-show="showLeft" class="page-item">
            <a class="page-link" href="" aria-label="Previous" ng-click="previousProducts()">
              <span aria-hidden="true">&lsaquo;</span>
              <span class="sr-only">Previous</span>
            </a>
          </li>

          <li class="page" ng-show="moreLeft"><span style="background: none; border: none">...</span></li>

          <li ng-repeat="page in subPagesArray" class="myColor">
            <a ng-click="goToPage(page)" href="" id="{{page}}" ng-style="{{page}} == actualPage ? {'background-color':'#009de0','color': 'white'} : {'background-color':'none'}"  >{{page}}</a>
          </li>

          <li class="page" ng-show="moreRight"><span style="background: none; border: none">...</span></li>

          <li ng-show="showRight" class="page-item">
            <a class="page-link" href="" aria-label="Next" ng-click="nextProducts()">
              <span aria-hidden="true">&rsaquo;</span>
              <span class="sr-only">Next</span>
            </a>
          </li>

          <li class="page" ng-show="showRight"><a href="" ng-click="goToPage(totalPage)">Última</a></li>
        </ul>
      </nav>
      </div>

      <nav ng-if="isPhone" aria-label="Page navigation example" style="width:100%; text-align: center; margin-bottom:10%" ng-show="ready">
        <ul class="pagination pagination-sm">

          <li class="page" ng-show="showLeft"><a href="" ng-click="goToPage(1)">&laquo;</a></li>


          <li ng-show="showLeft" class="page-item">
            <a class="page-link" href="" aria-label="Previous" ng-click="previousProducts()">
              <span aria-hidden="true">&lsaquo;</span>
              <span class="sr-only">Previous</span>
            </a>
          </li>

          <li class="page" ng-show="moreLeft"><span style="background: none; border: none">...</span></li>

          <li ng-repeat="page in subPagesArray" class="myColor">
            <a ng-click="goToPage(page)" href="" id="{{page}}" ng-style="{{page}} == actualPage ? {'background-color':'#009de0','color': 'white'} : {'background-color':'none'}"  >{{page}}</a>
          </li>

          <li class="page" ng-show="moreRight"><span style="background: none; border: none">...</span></li>

          <li ng-show="showRight" class="page-item">
            <a class="page-link" href="" aria-label="Next" ng-click="nextProducts()">
              <span aria-hidden="true">&rsaquo;</span>
              <span class="sr-only">Next</span>
            </a>
          </li>

          <li class="page" ng-show="showRight"><a href="" ng-click="goToPage(totalPage)">&raquo;</a></li>
        </ul>
      </nav>
      



    </section>

    <div epa-footer></div>

  </ion-content>
  <div epa-scroll></div>

</ion-view>
