<ion-view title="EPA | {{productName}}">
    <!-- Menu mobile y web -->
      <ion-nav-title class="customCenter" >
        <img  ng-if="isPhone" ng-click="goTo('app.home')" class="imgTitle" src="img/epa-yellow.jpg" ng-hide="searching && isPhone">
      </ion-nav-title>

      <ion-nav-buttons side="left">
          <div epa-left></div>
        </ion-nav-buttons>
        <ion-nav-buttons side="right" >
          <div epa-right></div>
      </ion-nav-buttons>
  <ion-content overflow-scroll="true">
    <span class="loading"  ng-if="!ready">
      <span class=" ld ld-ring ld-spin loadingCenter" style="font-size:64px; color:#8da"></span>
    </span>

    <section class="catalogBody">

    <!-- Product detail view-->
    <div class="rowP2" ng-show="ready">
      <article class="box2 style2" >
        <div class="productIconsDiv">
          <favorites-button productid="productDetail.id"></favorites-button>

          <a id="iconDetail" ng-click="openModal(product)"
             class="button "><img id="imgIconDetail" src="img/shopping-cart.png"/></a>
        </div>
        <div class="detailDiv">
          <a class="imageP2 featured" style="text-decoration:none">
            <img ng-src="{{productDetail.image.toString()}}" />

            <div class="divDetail">

              <h2 id="h2Detail" ng-bind="productDetail.name | ampersand"></h2>
              <p id="pprice" ng-bind="productDetail.price.toString() | currency : '₡'"> </p> <br>

              <p id="pDetail" > <strong>DETALLES</strong></p>
              <p id="pDetail" > Marca: {{productDetail.brand | ampersand}}</p>
              <p id="pDetail" > UPC: {{productDetail.upc}}</p>
              <div ng-repeat="detail in productDetail.descrip">
                <p id="pDetail" ng-bind="detail | ampersand"></p>
              </div>
            </div>


          </a>
          <div>
            <p class="product-tab">DESCRIPCIÓN</p>
            <p id="pDetail">
              {{productDetail.description}}
            </p> <br></div>

        </div>
      </article>
    </div>

    </section>
      <div epa-footer class="footerEmergencyStyle"></div>
  </ion-content>
</ion-view>
