<ion-view title="EPA | Modificar Contraseña">
  <ion-nav-title class="customCenter">
    <img ng-click="go('app.home')" class="imgTitle" src="img/epa-yellow.jpg"></img>
  </ion-nav-title>
  <ion-nav-buttons side="left" ng-if="!profile.isPhone">
    <button menu-toggle="left"  class="button button-icon icon ion-navicon"></button>

  </ion-nav-buttons>
  <ion-content padding="true" scroll="false">
    <form id="form"  name="form"  novalidate >
      <div class="responsive-md padding-bottom-20">

        <div class="col col-50 col-offset-25">

        </div>
        <div class="col col-50 col-offset-25 card-background-shadow card-container">
          <h2 style="color:#2a6496;text-align: center">Información Personal</h2>
          <div class="padding-bottom-10">
            <h4 style='text-align: center' class="title">{{viewRegistro}}</h4>
            <h5 style="color:#2a6496">Nombre</h5>
            <label class="item item-input">
              <i class="icon ion-person placeholder-icon"></i>
              <input type="text" id="firstname" name="firstname" placeholder="Nombre" ng-model="profile.firstname" style="padding-right: 65px;"required>
            </label>
            <div class="padding">
              <p ng-show="form.firstname.$invalid && !form.firstname.$pristine"  class="error">* Nombre es requerido. </p>
            </div>
            <h5 style="color:#2a6496">Apellido(s)</h5>
            <label class="item item-input">
              <i class="icon ion-person placeholder-icon"></i>
              <input type="text" id="lastname" name="lastname" placeholder="Apellidos" ng-model="profile.lastname"  style="padding-right: 65px;" required>
            </label>
            <div class="padding">
              <p ng-show="form.lastname.$invalid && !form.lastname.$pristine"  class="error">* Apellido requerido. </p>
            </div>

            <!---
            <label class="item item-input">
            <i class="icon ion-locked placeholder-icon" on-touch="showPassword = !showPassword"></i>
            <input type="password" id="password"  name="password" placeholder="Contraseña" ng-model="profile.password" ng-hide="showPassword">
            <input type="text" id="passwordRaw"  name="password" placeholder="Contraseña" ng-model="profile.password" ng-show="showPassword">
            <i class="icon ion-eye" on-touch="showPassword = !showPassword" style=""></i>
          </label>
          <div class="padding">
        </div>
        ------>

        <h5 style="color:#2a6496">Dirección</h5>
        <label class="item item-input">
          <i class="icon ion-earth placeholder-icon"></i>
          <input type="text"  placeholder="Dirección" ng-model="profile.address" name="address" style="padding-right: 65px;" required>
        </label>
        <div class="padding">

        </div>
        <h5 style="color:#2a6496">Teléfono</h5>
        <label class="item item-input">
          <i class="icon ion-iphone placeholder-icon"></i>
          <input type="number" min="0" step="1" id="phone" name="phone" placeholder="Teléfono" ng-model="profile.phone" style="padding-right: 65px;" required>
        </label>
        <div class="padding">
          <p ng-show="form.phone.$invalid && !form.phone.$pristine" class="error">* El teléfono es requerido. </p>
        </div>
      </div>
        <button  class="button button-block button-positive" ng-click="modifyUser()" ng-disabled=" form.$invalid"  style="padding-right: 65px;">Modificar Usuario </button>
      </div>
    </div>

</form>




</ion-content>
</ion-view>
