@font-face {
    font-family: 'Pompiere';
    font-style: normal;
    font-weight: 400;
    src: local('Pompiere '), local('Pompiere-Regular'), url(http://fonts.gstatic.com/s/pompiere/v6/mwrKIrrwFdsa6WVUljlH1vesZW2xOQ-xsNqO47m55DA.woff2) format('woff2');
}

.selectP2 {
    padding: 5px;
    border-radius: 4px;
}

.textProm {
    margin: 0;
    font-family: 'Pompiere', cursive;
}

#textProm {
    margin: 0;
    font-family: 'Pompiere', cursive;
}

body a:hover {
    text-decoration: none;
}

.imgCombo {
    width: 20%;
    float: left;
}

.logo {
    text-align: center;
}

.logo h1 {
    font-size: 3em;
    margin: 0.6em 0 0.5em;
    font-weight: 900;
}

.logo h1 a {
    display: inline-block;
    color: #ff590f;
    text-decoration: none;
}

.logo h1 a b {
    color: #353F49;
}

.prodViewProm:hover {
    background-color: dodgerblue;
}

span.tag {
    display: block;
    font-size: .3em;
    color: #999;
    font-family: 'Raleway', sans-serif;
    letter-spacing: 1px;
    margin-top: 6px;
    font-weight: 400;
}

.cart-box p {
    padding: 6px 8px;
    background-color: #DCDCDC;
    margin-top: 5px;
    font-size: .9em;
}


/*--banner--*/

.banner {
    background: #33414e;
    padding: 30px;
    margin: 10px;
    background: url(../promotion/images/fondo.jpeg)no-repeat 0px 0px;
    background-size: cover;
}

.banner-right {
    background: url(../promotion/images/img3.jpg)no-repeat 0px 0px;
    background-size: cover;
    min-height: 400px;
    padding-top: 10px;
    margin-left: auto;
    margin-right: auto;
}

.banner-left {
    text-align: center;
}

.banner h2 {
    color: #fff;
    font-size: 3em;
}

.banner-text h3 {
    text-align: center;
    margin: 1.3em auto;
    font-size: 1.5em;
    color: black;
    background: #ffdc00;
    display: inline-block;
    padding: .5em 1em;
}

.banner-text h5 {
    text-align: center;
    font-size: 1.5em;
    margin-bottom: 5px;
    color: black;
    background: #ffdc00;
    display: inline-block;
    padding: .5em 1em;
}

.imgPromo1 {
    width: 40%;
    float: right;
}

.banner-left h4 {
    font-size: 2em;
    color: #fff;
}

.banner-left h6 {
    font-size: 1.3em;
    color: #fff;
}

.banner-right ul li {
    position: relative;
}

.banner-right ul li h4 {
    position: absolute;
    font-size: 5em;
    color: #000;
    bottom: 21%;
    left: 27%;
}

.title-info {
    text-align: center;
    margin-bottom: 5em;
}

h3.title {
    font-size: 3.5em;
    font-weight: 900;
    color: #3c8dbc;
}

h3.title span {
    color: #353f49;
}

.title-info p {
    font-size: 1em;
    color: #999;
    margin-top: .5em;
    letter-spacing: 1px;
}


/*--gallery--*/

.gallery {
    padding: 5em 0;
    background: #fff;
}

#filterProm {
    font-size: 20px;
    margin-bottom: 10px
}

.gallery-grid {
    background: #FFF;
    padding: 1.5em;
    width: 22%;
    margin-right: 2%;
    overflow: hidden;
    margin-bottom: 2em;
    height: 30.7em;
    border: 1px solid #ffdc00;
}

.gallery-grid.gallery-grid1 {
    margin: 0 1.5em;
}

.gallery-grid.gallery-grid2 {
    margin-right: 1.5em;
}


/*--gallery-text--*/

.gallery-text {
    text-align: center;
    height: 4.2em;
}

.gallery-grid a img {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
    margin: 0 auto;
}

.gallery-grid:hover img {
    -webkit-transform: scale(.6);
    -moz-transform: scale(.6);
    -o-transform: scale(.6);
    -ms-transform: scale(.6);
    transform: scale(.6);
    margin-top: -1em;
}

.gallery-text h5 {
    font-size: 2em;
    margin: 1em 0 .3em;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
}

.gallery-text h5 a {
    color: #000;
}

.gallery-text p {
    font-size: 20px;
    ;
    color: #ffdc00;
    font-weight: 700;
    margin-bottom: 1em;
}

.gallery-text h4.sizes {
    color: #000;
    margin: 0.3em 0 0.8em;
}

.gallery-text h4.sizes a {
    color: #000;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
    text-transform: uppercase;
    font-size: .7em;
}

.gallery-text h4.sizes a:hover {
    color: #ff590f;
}

.gallery-text ul li {
    display: inline-block;
    width: 20%;
    text-align: center;
}

.gallery-text ul li a span.glyphicon {
    font-size: 1.2em;
    color: #33414E;
    -webkit-transition: .5s all;
    transition: .5s all;
    -moz-transition: .5s all;
}

.gallery-text ul li a span.glyphicon:hover {
    color: yellow;
}

.gallery-grid:hover .gallery-text {
    height: initial;
    margin-top: -3em;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
}

.gallery-grid:hover .gallery-text h5 {
    margin: .5em 0 .3em;
}

.gallery-grid:hover .gallery-text h5 a {
    color: #00a6d6;
}

.gallery-grid:hover .gallery-text p {
    margin-bottom: 0em;
}


@media (min-width:1600px) {
    .gallery-grid {
        background: #FFF;
        padding: 1.5em;
        width: 16.66%;
        overflow: hidden;
        margin-bottom: 2em;
        height: 30.7em;
        border: 1px solid #ffdc00;
        margin-left: 40px;
    }
}


/*---- responsive-design -----*/
@media(max-width:1080px) {
    .banner {
        padding: 7em 0;
    }
    .banner-right ul li h4 {
        left: 20%;
    }
    .gallery {
        padding: 4em 0;
    }
    .gallery-text h5 {
        font-size: 1.6em;
        margin: 0.5em 0 .3em;
    }
    .gallery-grid {
        height: 24.7em;
        margin-bottom: 1em;
    }
    
    h3.title {
        font-size: 3.3em;
    }
    .title-info {
        margin-bottom: 3em;
    }
}

@media(max-width:991px) {
    .banner-left {
        padding: 0;
    }
    .banner h2 {
        font-size: 2.6em;
    }
    .banner-text h3 {
        margin: 1em auto;
    }
    .banner-right ul li h4 {
        left: 15%;
        font-size: 4.5em;
        bottom: 27%;
    }
    .banner-right {
        min-height: 260px;
        padding: 0 0 1em;
    }
    .banner {
        padding: 5em 0;
    }
    .new-grid,
    .gallery-grid {
        width: 23.5%;
        float: left;
    }
    .gallery {
        padding: 3em 0;
    }
    h3.title {
        font-size: 3em;
    }
    .gallery-grid {
        height: 20.5em;
        padding: 1em;
    }
    .row h4 {
        font-size: 0.9em;
    }
}

@media(max-width:800px) {
    .banner-right {
        min-height: 280px;
        padding: 1em 0 0;
        background-position: 0px -15px;
    }
    .banner-right ul li h4 {
        bottom: 24%;
    }
    .title-info p {
        font-size: 0.9em;
    }
}


@media(max-width:768px) {
    .banner {
        padding: 4.5em 0;
    }
}

@media(max-width:640px) {
    .banner {
        padding: 3em 0;
    }
    .banner-text h3 {
        font-size: 1.3em;
        padding: .5em 1em;
    }
    .banner-right {
        margin-top: 1.5em;
    }
    h3.title {
        font-size: 2.8em;
    }
    .title-info {
        margin-bottom: 2em;
    }
    .new-grid.new-mdl,
    .gallery-grid.gallery-grid1 {
        margin: 0 0.5em;
    }
    .new-grid.new-mdl1,
    .gallery-grid.gallery-grid2 {
        margin-right: 0.5em;
    }
    .new-grid,
    .gallery-grid {
        width: 24.1%;
        float: left;
    }
    .gallery-text h5 {
        margin-bottom: 5px;
        font-size: 14px;
        font-family: inherit;
    }
    .gallery-grid {
        height: 17.9em;
        padding: 0.8em;
    }
    .gallery-text ul li a span.glyphicon {
        font-size: 1em;
    }
    .gallery {
        padding: 2.5em 0;
    }
}

@media(max-width:480px) {
    .banner-text h3 {
        margin: 0.5em auto;
    }
    .banner-left h4 {
        font-size: 1.5em;
        margin-bottom: 0.5em;
    }
    .banner-right {
        min-height: 245px;
        background-position: 0px -10px;
    }
    .banner-right ul li h4 {
        left: 21%;
        font-size: 4em;
    }
    .title-info p {
        letter-spacing: 0px;
    }
    .new-grid,
    .gallery-grid {
        width: 49%;
    }
    .new-grid.new-mdl,
    .gallery-grid.gallery-grid1 {
        margin: 0 0 .5em .5em;
    }
    .gallery-grid {
        height: 18.9em;
        padding: 1em 3em;
        margin-bottom: 0.5em;
    }
    h3.title {
        font-size: 2.5em;
    }
}

@media(max-width:414px) {
    .banner h2 {
        font-size: 2.4em;
    }
    .banner-right ul li h4 {
        font-size: 3.5em;
    }
    .banner-right {
        min-height: 215px;
    }
    .title-info p {
        font-size: 0.85em;
    }
    h3.title {
        font-size: 2.2em;
    }
    .title-info {
        margin-bottom: 1.5em;
    }
    .gallery-grid {
        padding: 0.5em 1.3em;
    }
}

@media(max-width:384px) {
    .new-grid,
    .gallery-grid {
        width: 48.9%;
    }
    .gallery-grid {
        height: 18em;
    }
}

@media(max-width:375px) {
    .banner-right {
        min-height: 190px;
        background-position: 0;
    }
    .new-grid,
    .gallery-grid {
        width: 48.8%;
    }
    .gallery-grid {
        height: 17.1em;
    }
}

@media(max-width:320px) {
    .banner h2 {
        font-size: 2.2em;
    }
    .banner-right {
        min-height: 170px;
        margin-top: 1em;
    }
    .banner {
        padding: 1.5em 0;
    }
    .banner-text h3 {
        font-size: 1.1em;
        padding: .4em 1em;
    }
    .new-grid,
    .gallery-grid {
        width: 48.7%;
    }
    .gallery {
        padding: 2em 0;
    }
    .gallery-grid {
        padding: 0.5em 0.8em;
    }
    .gallery-grid {
        height: 16em;
    }
    .gallery-text p {
        font-size: 1.1em;
    }
    .gallery-text h5 {
        font-size: 1.3em;
    }
}


/*--//responsive-design---*/