<ion-view  title="EPA | Búsqueda">
  <!-- Menu mobile y web -->
  <ion-nav-title class="customCenter" >
    <img  ng-if="isPhone" ng-click="goTo('app.home')" class="imgTitle" src="img/epa-yellow.jpg" ng-hide="searching && isPhone">
  </ion-nav-title>
  <ion-nav-buttons side="left">
    <div epa-left></div>
  </ion-nav-buttons>
  <ion-nav-buttons side="right" >
    <div epa-right></div>
  </ion-nav-buttons>
  <!--Termina el menu-->
  <!-- Home view-->
  <ion-content overflow-scroll="true" epa-movescroll>
    <!-- Loading -->
    <span class="loading"  ng-if="!ready">
      <span class=" ld ld-ring ld-spin loadingCenter nc" style="font-size:64px;"></span>
    </span>
    <section ng-show="ready" class="catalogBody searchpage">
      <h3 class="titleSubarea searchTitleMargin"  ng-show="ready">Resultados de búsqueda</h3>
      <label class="sortMargin"  ng-show="ready">
        <strong>Ordenar por:</strong>
        <select name="repeatSelect" id="repeatSelect" ng-model="data.model" ng-change="printSelected()" class="selectpicker selectN">
          <option value="" disabled selected>Ordenar:</option>
          <option ng-repeat="option in data.availableOptions" value="{{option.id}}">{{option.name}}</option>
        </select>
      </label>

      <div class="rowP" ng-if="!isPhone">

        <nav aria-label="Page navigation example" style="width:100%; text-align: center;">
          <ul class="pagination pagination-md">

            <li class="page" ng-show="showLeft"><a href="" ng-click="goToPage(1)">Primera</a></li>

            <li ng-show="showLeft" class="page-item">
              <a class="page-link" href="" aria-label="Previous" ng-click="previousProducts()">
                <span aria-hidden="true">&lsaquo;</span>
                <span class="sr-only">Previous</span>
              </a>
            </li>

            <li class="page" ng-show="moreLeft"><span style="background: none; border: none">...</span></li>

            <li ng-repeat="page in subPagesArray" class="myColor">
              <a ng-click="goToPage(page)" href="" id="{{page}}" ng-style="{{page}} == actualPage ? {'background-color':'#009de0','color': 'white'} : {'background-color':'none'}"  >{{page}}</a>
            </li>

            <li class="page" ng-show="moreRight"><span style="background: none; border: none">...</span></li>

            <li ng-show="showRight" class="page-item">
              <a class="page-link" href="" aria-label="Next" ng-click="nextProducts()">
                <span aria-hidden="true">&rsaquo;</span>
                <span class="sr-only">Next</span>
              </a>
            </li>

            <li class="page" ng-show="showRight"><a href="" ng-click="goToPage(totalPage2)">Última</a></li>

          </ul>
        </nav>

        <div class="4u 12u(mobile) " ng-repeat="product in productList | orderBy:data.model track by $index">
          <article class="box1 style2 maxAndMinProducts" ng-click="useProduct(product)">
            <a class="imageP featured"  ng-click="useProduct(product)">
              <img ng-src="{{product.image.toString() | thumb}}" />
              <div class="textPro" >
                <h4 id="textp"><a ng-bind="product.name"></a>
                </h4>
                <p ng-bind="product.price.toString() | currency : '₡'"></p>
              </div>
            </a>
          </article>
        </div>

        <nav aria-label="Page navigation example" style="width:100%; text-align: center; margin-bottom:5%">
          <ul class="pagination pagination-md">

            <li class="page" ng-show="showLeft"><a href="" ng-click="goToPage(1)">Primera</a></li>

            <li ng-show="showLeft" class="page-item">
              <a class="page-link" href="" aria-label="Previous" ng-click="previousProducts()">
                <span aria-hidden="true">&lsaquo;</span>
                <span class="sr-only">Previous</span>
              </a>
            </li>

            <li class="page" ng-show="moreLeft"><span style="background: none; border: none">...</span></li>

            <li ng-repeat="page in subPagesArray" class="myColor">
              <a ng-click="goToPage(page)" href="" id="{{page}}" ng-style="{{page}} == actualPage ? {'background-color':'#009de0','color': 'white'} : {'background-color':'none'}"  >{{page}}</a>
            </li>

            <li class="page" ng-show="moreRight"><span style="background: none; border: none">...</span></li>

            <li ng-show="showRight" class="page-item">
              <a class="page-link" href="" aria-label="Next" ng-click="nextProducts()">
                <span aria-hidden="true">&rsaquo;</span>
                <span class="sr-only">Next</span>
              </a>
            </li>

            <li class="page" ng-show="showRight"><a href="" ng-click="goToPage(totalPage2)">Última</a></li>

          </ul>
        </nav>

      </div>


      <div class="rowP" ng-if="isPhone">

        <nav aria-label="Page navigation example" style="width:100%; text-align: center;">
          <ul class="pagination pagination-sm">

            <li class="page" ng-show="showLeft"><a href="" ng-click="goToPage(1)">&laquo;</a></li>

            <li ng-show="showLeft" class="page-item">
              <a class="page-link" href="" aria-label="Previous" ng-click="previousProducts()">
                <span aria-hidden="true">&lsaquo;</span>
                <span class="sr-only">Previous</span>
              </a>
            </li>

            <li class="page" ng-show="moreLeft"><span style="background: none; border: none">...</span></li>

            <li ng-repeat="page in subPagesArray" class="myColor">
              <a ng-click="goToPage(page)" href="" id="{{page}}" ng-style="{{page}} == actualPage ? {'background-color':'#009de0','color': 'white'} : {'background-color':'none'}"  >{{page}}</a>
            </li>

            <li class="page" ng-show="moreRight"><span style="background: none; border: none">...</span></li>

            <li ng-show="showRight" class="page-item">
              <a class="page-link" href="" aria-label="Next" ng-click="nextProducts()">
                <span aria-hidden="true">&rsaquo;</span>
                <span class="sr-only">Next</span>
              </a>
            </li>

            <li class="page" ng-show="showRight"><a href="" ng-click="goToPage(totalPage2)">&raquo;</a></li>

          </ul>
        </nav>
        <div class="4u 12u(mobile) " ng-repeat="product in productList | orderBy:data.model track by $index">
          <article class="box1 style2 maxAndMinProductsPhone" ng-click="useProduct(product)">
            <a class="imageP featured"  ng-click="useProduct(product)">
              <img ng-src="{{product.image.toString() | thumb}}" />
              <div class="textPro" >
                <h4 id="textp"><a ng-bind="product.name"></a>
                </h4>
                <p ng-bind="product.price.toString() | currency : '₡'"></p>
              </div>
            </a>
          </article>
        </div>

        <nav aria-label="Page navigation example" style="width:100%; text-align: center; margin-bottom:5%">
          <ul class="pagination pagination-sm">

            <li class="page" ng-show="showLeft"><a href="" ng-click="goToPage(1)">&laquo;</a></li>

            <li ng-show="showLeft" class="page-item">
              <a class="page-link" href="" aria-label="Previous" ng-click="previousProducts()">
                <span aria-hidden="true">&lsaquo;</span>
                <span class="sr-only">Previous</span>
              </a>
            </li>

            <li class="page" ng-show="moreLeft"><span style="background: none; border: none">...</span></li>

            <li ng-repeat="page in subPagesArray" class="myColor">
              <a ng-click="goToPage(page)" href="" id="{{page}}" ng-style="{{page}} == actualPage ? {'background-color':'#009de0','color': 'white'} : {'background-color':'none'}"  >{{page}}</a>
            </li>

            <li class="page" ng-show="moreRight"><span style="background: none; border: none">...</span></li>

            <li ng-show="showRight" class="page-item">
              <a class="page-link" href="" aria-label="Next" ng-click="nextProducts()">
                <span aria-hidden="true">&rsaquo;</span>
                <span class="sr-only">Next</span>
              </a>
            </li>

            <li class="page" ng-show="showRight"><a href="" ng-click="goToPage(totalPage2)">&raquo;</a></li>

          </ul>
        </nav>

      </div>
      <!--Cargar los productos buscados acá -->
      <br>

      <!-- Sugerencias -->
      <div class="container" ng-if="!isPhone">
        <div class="pricing-table pricing-three-column row spa6" >
          <h3 class="suggestionsTitle"  ng-model="suggestText"  ng-show="ready">Sugerencias relacionadas a este producto</h3>
          <br>
          <article class="box1 style2 suggestionsBox">
            <div style="z-index:55;" class="plan col-sm-4 col-lg-4 maxAndMinSuggestions " ng-repeat='products in productos track by $index' ng-click="useProduct(products)" >
              <div ng-click="useProduct(products)">
                <img ng-src="{{products.image.toString() | thumb}}" class="photo img-rounded" >
              </div>
              <ul>
                <li class="plan-feature" ng-click="useProduct(products)">{{ products.brand | limitTo: 20 }}{{products.brand.length > 20 ? '...' : ''}}</li>
                <li class="plan-feature" ng-click="useProduct(products)">{{ products.name | limitTo: 30 }}{{products.name.length > 30 ? '...' : ''}}</li>
                <li class="plan-feature" ng-click="useProduct(products)" ng-bind="products.price.toString() | currency : '₡'"></li>
              </ul>
            </div>
          </article>
        </div>
      </div>


      <div class="container" ng-if="isPhone">
        <div class="pricing-table pricing-three-column row spa6 " >
          <div>
            <h3 class="suggestionsTitlePhone"  ng-model="suggestText">Sugerencias relacionadas a este producto</h3>
          </div>
          <article class="box1 style2 suggestionsBoxPhone">
            <div style="z-index:55;" class="plan col-sm-4 col-lg-4 " ng-repeat='products in productos track by $index' ng-click="useProduct(products)" >
              <div ng-click="useProduct(products)">
                <img ng-src="{{products.image.toString() | thumb}}" class="photo img-rounded" >
              </div>
              <ul>
                <li class="plan-feature" ng-click="useProduct(products)">{{ products.brand | limitTo: 20 }}{{products.brand.length > 20 ? '...' : ''}}</li>
                <li class="plan-feature" ng-click="useProduct(products)">{{ products.name | limitTo: 30 }}{{products.name.length > 30 ? '...' : ''}}</li>
                <li class="plan-feature" ng-bind="products.price.toString() | currency : '₡'"></li>
              </ul>
            </div>
          </article>
        </div>
      </div>

    </section>
    <div epa-footer></div>
  </ion-content>
  <div epa-scroll></div>
</ion-view>
