/* latin */
@font-face {
  font-family: 'Droid Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Droid Sans'), local('DroidSans'), url(https://fonts.gstatic.com/s/droidsans/v6/s-BiyweUPV0v-yRb-cjciPk_vArhqVIZ0nv9q090hN8.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}
/* latin */
@font-face {
  font-family: 'Droid Sans';
  font-style: normal;
  font-weight: 700;
  src: local('Droid Sans Bold'), local('DroidSans-Bold'), url(https://fonts.gstatic.com/s/droidsans/v6/EFpQQyG9GqCrobXxL-KRMYWiMMZ7xLd792ULpGE4W_Y.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}

/*!
 * baguetteBox.js
 * @author  feimosi
 * @version 1.8.1
 * @url https://github.com/feimosi/baguetteBox.js
 */
#baguetteBox-overlay {
  display: none;
  opacity: 0;
  position: fixed;
  overflow: hidden;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1000000;
  background-color: #222;
  background-color: rgba(0, 0, 0, 0.8);
  -webkit-transition: opacity .5s ease;
  transition: opacity .5s ease; }
  #baguetteBox-overlay.visible {
    opacity: 1; }
  #baguetteBox-overlay .full-image {
    display: inline-block;
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center; }
    #baguetteBox-overlay .full-image figure {
      display: inline;
      margin: 0;
      height: 100%; }
    #baguetteBox-overlay .full-image img {
      display: inline-block;
      width: auto;
      height: auto;
      max-height: 100%;
      max-width: 100%;
      vertical-align: middle;
      -moz-box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
           box-shadow: 0 0 8px rgba(0, 0, 0, 0.6); }
    #baguetteBox-overlay .full-image figcaption {
      display: block;
      position: absolute;
      bottom: 0;
      width: 100%;
      text-align: center;
      line-height: 1.8;
      white-space: normal;
      color: #ccc;
      background-color: #000;
      background-color: rgba(0, 0, 0, 0.6);
      font-family: sans-serif; }
    #baguetteBox-overlay .full-image:before {
      content: "";
      display: inline-block;
      height: 50%;
      width: 1px;
      margin-right: -1px; }

#baguetteBox-slider {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  white-space: nowrap;
  -webkit-transition: left .4s ease, -webkit-transform .4s ease;
  transition: left .4s ease, -webkit-transform .4s ease;
  transition: left .4s ease, transform .4s ease;
  transition: left .4s ease, transform .4s ease, -webkit-transform .4s ease, -moz-transform .4s ease; }
  #baguetteBox-slider.bounce-from-right {
    -webkit-animation: bounceFromRight .4s ease-out;
            animation: bounceFromRight .4s ease-out; }
  #baguetteBox-slider.bounce-from-left {
    -webkit-animation: bounceFromLeft .4s ease-out;
            animation: bounceFromLeft .4s ease-out; }

@-webkit-keyframes bounceFromRight {
  0% {
    margin-left: 0; }
  50% {
    margin-left: -30px; }
  100% {
    margin-left: 0; } }

@keyframes bounceFromRight {
  0% {
    margin-left: 0; }
  50% {
    margin-left: -30px; }
  100% {
    margin-left: 0; } }

@-webkit-keyframes bounceFromLeft {
  0% {
    margin-left: 0; }
  50% {
    margin-left: 30px; }
  100% {
    margin-left: 0; } }

#quantityForm{
    width: 40%;
}

@keyframes bounceFromLeft {
  0% {
    margin-left: 0; }
  50% {
    margin-left: 30px; }
  100% {
    margin-left: 0; } }

.baguetteBox-button#next-button, .baguetteBox-button#previous-button {
  top: 50%;
  top: calc(50% - 30px);
  width: 44px;
  height: 60px; }

.baguetteBox-button {
  position: absolute;
  cursor: pointer;
  outline: none;
  padding: 0;
  margin: 0;
  border: 0;
  -moz-border-radius: 15%;
       border-radius: 15%;
  background-color: #323232;
  background-color: rgba(50, 50, 50, 0.5);
  color: #ddd;
  font: 1.6em sans-serif;
  -webkit-transition: background-color .4s ease;
  transition: background-color .4s ease; }
  .baguetteBox-button:focus, .baguetteBox-button:hover {
    background-color: rgba(50, 50, 50, 0.9); }
  .baguetteBox-button#next-button {
    right: 2%; }
  .baguetteBox-button#previous-button {
    left: 2%; }
  .baguetteBox-button#close-button {
    top: 20px;
    right: 2%;
    right: calc(2% + 6px);
    width: 30px;
    height: 30px; }
  .baguetteBox-button svg {
    position: absolute;
    left: 0;
    top: 0; }

/*
    Preloader
    Borrowed from http://tobiasahlin.com/spinkit/
*/
.baguetteBox-spinner {
  width: 40px;
  height: 40px;
  display: inline-block;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -20px;
  margin-left: -20px; }

.baguetteBox-double-bounce1,
.baguetteBox-double-bounce2 {
  width: 100%;
  height: 100%;
  -moz-border-radius: 50%;
       border-radius: 50%;
  background-color: #fff;
  opacity: .6;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-animation: bounce 2s infinite ease-in-out;
          animation: bounce 2s infinite ease-in-out; }

.baguetteBox-double-bounce2 {
  -webkit-animation-delay: -1s;
          animation-delay: -1s; }

@-webkit-keyframes bounce {
  0%, 100% {
    -webkit-transform: scale(0);
            transform: scale(0); }
  50% {
    -webkit-transform: scale(1);
            transform: scale(1); } }

@keyframes bounce {
  0%, 100% {
    -webkit-transform: scale(0);
       -moz-transform: scale(0);
            transform: scale(0); }
  50% {
    -webkit-transform: scale(1);
       -moz-transform: scale(1);
            transform: scale(1); } }
body{
    font-family: serif;
}
#navBack1{
    background-color: dodgerblue;
    color: white;
}

#ima1 {
    width: 40% !important;
}

#navhome {
    background-color:#3c8dbc;
    color: white;
}
#centerimg {
    background-color: white;
}
#img2{
    width:50%;
    height: 50%;
    padding-top: 20px;
}
ion-header-bar{
    font-family: serif;
    background-color: #3c8dbc;
    font-size: 20px;
    color: white;
}

ion-content {
    font-family: serif;
    background-color: #f2f2f2;

}

.ionItemMenu{
    border-bottom: 2px solid #3c8dbc;
    font-family: serif;
    font-size: 17px;

}
.ionItemMenu:hover{
  background-color: lightgrey;
}
.imgmenu{
    margin-right: 10px;
    height: 23px;
    margin-bottom: -4px;
}


	article {
        margin: 5px;
	}

	.image {
		border-radius: 4px;
		border: 0;
		display: inline-block;
		position: relative;
	}

		.image img {
			border-radius: 4px;
			display: block;
		}

	.tiles {
		display: -moz-flex;
		display: -webkit-flex;
		display: -ms-flex;
		display: flex;
		-moz-flex-wrap: wrap;
		-webkit-flex-wrap: wrap;
		-ms-flex-wrap: wrap;
		flex-wrap: wrap;
		position: relative;
        padding-top: 20px;
        padding-left: 20px;
        padding-right: 20px;
	}

		.tiles article {
			-moz-transition: -moz-transform 0.5s ease, opacity 0.5s ease;
			-webkit-transition: -webkit-transform 0.5s ease, opacity 0.5s ease;
			-ms-transition: -ms-transform 0.5s ease, opacity 0.5s ease;
			transition: transform 0.5s ease, opacity 0.5s ease;
			position: relative;
		}

			.tiles article > .image {
				-moz-transition: -moz-transform 0.5s ease;
				-webkit-transition: -webkit-transform 0.5s ease;
				-ms-transition: -ms-transform 0.5s ease;
				transition: transform 0.5s ease;
				position: relative;
				display: block;
				width: 95%;
				border-radius: 4px;
				overflow: hidden;
			}

				.tiles article > .image img {
					display: block;
					width: 100%;
				}

				.tiles article > .image:before {
					-moz-pointer-events: none;
					-webkit-pointer-events: none;
					-ms-pointer-events: none;
					pointer-events: none;
					-moz-transition: background-color 0.5s ease, opacity 0.5s ease;
					-webkit-transition: background-color 0.5s ease, opacity 0.5s ease;
					-ms-transition: background-color 0.5s ease, opacity 0.5s ease;
					transition: background-color 0.5s ease, opacity 0.5s ease;
					content: '';
					display: block;
					position: absolute;
					top: 0;
					left: 0;
					width: 100%;
					height: 100%;
					opacity: 1.0;
					z-index: 1;
					opacity: 0.8;
				}

            .tiles article > a {
				display: -moz-flex;
				display: -webkit-flex;
				display: -ms-flex;
				display: flex;
				-moz-flex-direction: column;
				-webkit-flex-direction: column;
				-ms-flex-direction: column;
				flex-direction: column;
				-moz-align-items: center;
				-webkit-align-items: center;
				-ms-align-items: center;
				align-items: center;
				-moz-justify-content: center;
				-webkit-justify-content: center;
				-ms-justify-content: center;
				justify-content: center;
				-moz-transition: background-color 0.5s ease, -moz-transform 0.5s ease;
				-webkit-transition: background-color 0.5s ease, -webkit-transform 0.5s ease;
				-ms-transition: background-color 0.5s ease, -ms-transform 0.5s ease;
				transition: background-color 0.5s ease, transform 0.5s ease;
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				padding: 1em;
				border-radius: 4px;
				border-bottom: 0;
				color: #ffffff;
                font-family: serif;
                font-size: 20px;
				text-align: center;
				text-decoration: none;
				z-index: 3;
			}

				.tiles article > a > :last-child {
					margin: 0;
				}

				.tiles article > a:hover {
					color: #ffffff !important;
				}

				.tiles article > a h2 {
					margin: 0;
                    color: white;
                    font-family: serif;
                    font-size: 25px;
				}

				.tiles article > a .content {
					-moz-transition: max-height 0.5s ease, opacity 0.5s ease;
					-webkit-transition: max-height 0.5s ease, opacity 0.5s ease;
					-ms-transition: max-height 0.5s ease, opacity 0.5s ease;
					transition: max-height 0.5s ease, opacity 0.5s ease;
					width: 100%;
					max-height: 0;
					line-height: 1.5;
					margin-top: 0.35em;
					opacity: 0;
				}

					.tiles article > a .content > :last-child {
						margin-bottom: 0;
					}



			.tiles article.style1 > .image:before {
				background-color: #7ecaf6;

			}
            .tiles article.style2 > .image:before {
                        background-color: #7bd0c1;
                    }

			body:not(.is-touch) .tiles article:hover > .image {
				-moz-transform: scale(1.1);
				-webkit-transform: scale(1.1);
				-ms-transform: scale(1.1);
				transform: scale(1.1);
			}

				body:not(.is-touch) .tiles article:hover > .image:before {
					background-color: #333333;
					opacity: 0.35;
				}

				body:not(.is-touch) .tiles article:hover > .image:after {
					opacity: 0;
				}

			body:not(.is-touch) .tiles article:hover .content {
				max-height: 15em;
				opacity: 1;
			}

	.rowP {
		border-bottom: solid 1px transparent;
		-moz-box-sizing: border-box;
		-webkit-box-sizing: border-box;
		box-sizing: border-box;
        padding: 25px;

	}

	.rowP > * {
		float: left;
		-moz-box-sizing: border-box;
		-webkit-box-sizing: border-box;
		box-sizing: border-box;
	}

	.rowP2 {
		border-bottom: solid 1px transparent;
		-moz-box-sizing: border-box;
		-webkit-box-sizing: border-box;
		box-sizing: border-box;


	}

	.rowP2 > * {
		-moz-box-sizing: border-box;
		-webkit-box-sizing: border-box;
		box-sizing: border-box;
        padding: 20px;
	}

/* Image */

	.imageP {
		display: inline-block;
		position: relative;
        text-decoration: none;
	}

		.imageP img {
			display: block;
			width: 100%;
            max-height: 200px;
            max-width: 200px;
		}

	.imageP2 {
		display: inline-block;
		position: relative;

	}

		.imageP2 img {
			display: block;
            margin-right: 15px;

		}



/* Box */

	.box1 {

		box-shadow: inset 0px 0px 0px 1px rgba(0, 0, 0, 0.15), 0px 2px 3px 0px rgba(0, 0, 0, 0.1);
        padding: 20px;
        background-color: white;
        font-family: sans-serif;
        cursor: pointer;

	}
.box2 {

		box-shadow: inset 0px 0px 0px 1px rgba(0, 0, 0, 0.15), 0px 2px 3px 0px rgba(0, 0, 0, 0.1);
        margin-left: 10%;
        margin-right: 10%;
        margin-top: 20px;
        background-color: white;
        font-family: sans-serif;
        padding-bottom: 150px;
	}

.textPro h4 a{
        font-family: serif;
        font-size: 18px;
        color: black;
    }

    .featured h4 a{
        font-family: serif;
        font-size: 18px;
        color: black;
    }

    .textPro p{
        font-family: serif;
        font-size: 18px;
        color: dodgerblue;
    }

    #h2Detail{
        color:#3c8dbc;
        font-family: sans-serif;
        padding-top: 10px;
        font-size: 24px;
    }

    #h3Detail{
        color:black;
        font-family: serif;
        padding-top: 5px;
        padding-bottom: 5px;
        font-size: 24px;

    }

    #pDetail{
        color: black;
        font-family:serif;
        font-size: 17px;
        margin: 5px;
        padding: 0%;
        font-family: sans-serif;
    }

    .divDetail{
        padding: 10px;
    }

    #pprice{
      color: #3c8dbc;
      font-family: sans-serif;
      font-size: 20px;
      font-weight: bold;
    }

/* CSS change product Detail  */

#iconDetail{
    border-radius: 200px 200px 200px 200px;
    -moz-border-radius: 200px 200px 200px 200px;
    -webkit-border-radius: 200px 200px 200px 200px;
    border: solid 4px hidden #0a060a;
    background-color: #3c8dbc;
    float: right;
    width: 3%;
    margin-left: 5px;
}

#imgIconDetail
{

    width: 80%;
    padding-top: 12px;

}

#iconDetail2{
    border-radius: 200px 200px 200px 200px;
    -moz-border-radius: 200px 200px 200px 200px;
    -webkit-border-radius: 200px 200px 200px 200px;
    border: solid 4px hidden #0a060a;
    background-color: white;
    float: left;
    width: 3%;

}

#imgIconDetail2
{

    float: right;
    width: 80%;
    padding-top: 12px;

}

#cantProduct{
    margin-top: 12px;
    margin-left: 10px;
    margin-right: 10px;
    float: left;

}
#numProduct{
    margin-top: 27px;
    float: left;
    color: black;
    font-family: serif;
}

#buttonBuy{
    margin-bottom: 20px;
  padding-left: 30%;
    padding-right: 30%;

}

#barTitle1{
    background-color: #3c8dbc;
    font-family: serif;
    color: white;
    font-size: 16px;
    border-color: #3c8dbc;
}

.iconFav span{
    float: right;
    margin-right: 20px;
    color: blue:;
    font-size: 24px;
    margin-bottom: 20px;
}

.quantityBox{
    padding-top: 20px;
    margin-left: 20%;
    margin-right: 20%;
}

#quantity2{
    float: left;
    font-family: serif;
    font-size: 16px;
    padding-right: 10px;
    padding-top: 5px;
}
#quantity{
    padding: 10px;
    width: 50%;
}


.product-tab {
    border-bottom: 1px solid #ddd;
    padding: 0;
    text-align: center;
    font-family: sans-serif;
    font-weight: bold;
}



/* responsive */
@media screen and (min-width: 1480px) {
    .tiles {
        margin: -2.5em 0 0 -2.5em;
    }
    .tiles article {
        width: calc(20% - 2.5em);
        margin: 2.5em 0 0 2.5em;
    }
    .\34 u,
    .\34 u\24 {
        width: 20%;
        clear: none;
        margin-left: 0;
    }
    .textPro {
         height: 170px;
    }
    .textPro2 {
        height: 100px;
    }
    .imageP2 img {
        width: 45%;
        float: left;
    }
}

				.tiles article {
					width: 16,66%;
					margin: 2.5em 0 0 2.5em;
				}
                  .\34 u, .\34 u\24 {
                     width:20%;
                    clear: none;
                    margin-left: 0;
                }

                .textPro{
                height:10%;
            }

            .imageP2 img {
                  width: 35%;
                float: left;

		}



		}

 @media screen and (max-width: 1480px) {

			.tiles {
				margin: -2.5em 0 0 -2.5em;
			}

				.tiles article {
					width: calc(20% - 2.5em);
					margin: 2.5em 0 0 2.5em;
				}
               .\34 u, .\34 u\24 {
                     width:20%;
                    clear: none;
                    margin-left: 0;
                }
            .textPro{
                height: 10%;
            }



        .imageP2 img {
			width: 45%;
            float: left;
		}



		}

      @media screen and (max-width: 1280px) {

			.tiles {
				margin: -2.5em 0 0 -2.5em;
			}

				.tiles article {
					width: calc(25% - 2.5em);
					margin: 2.5em 0 0 2.5em;
				}

            .\34 u, .\34 u\24 {
                 width:20%;
                clear: none;
                margin-left: 0;
            }

            .textPro{
                height: 10%;
            }


             .imageP2 img {
			     width: 35%;

		}
            #pprice{
                float: right;
            }

		}


		@media screen and (max-width: 1067px) {

			.tiles {
				margin: -2.5em 0 0 -2.5em;
			}

				.tiles article {
					width: calc(33.33% - 2.5em);
					margin: 2.5em 0 0 2.5em;
				}
                .\34 u, .\34 u\24 {
                     width:50%;
                    clear: none;
                    margin-left: 0;
               }
            .textPro{
                height: 10%;
            }
             .imageP2 img {
			     width: 100%;
                float: none;

		  }
              #pprice{
                float: right;
            }

		}

		@media screen and (max-width: 640px) {

			.tiles {
				margin: -1.25em 0 0 -1.25em;
			}

				.tiles article {
					width: calc(50% - 1.25em);
					margin: 1.25em 0 0 1.25em;
				}

					.tiles article:hover > .image {
						-moz-transform: scale(1.0);
						-webkit-transform: scale(1.0);
						-ms-transform: scale(1.0);
						transform: scale(1.0);
					}
                .\34 u, .\34 u\24 {
                         width:50%;
                        clear: none;
                        margin-left: 0;
                   }
            .textPro{
                height: 10%;
            }
             .imageP2 img {
		          width: 100%;
                 float: none;

		  }
             #pprice{
                float: right;

            }

		}

		@media screen and (max-width: 480px) {

			.tiles {
				margin: 0;
			}

				.tiles article {
					width: 100%;
					padding: 10px;
                    padding-left: 5px;
				}

             .\34 u, .\34 u\24 {
                     width:100%;
                    clear: none;
                    margin-left: 0;
               }

            .textPro{
                height: 10%x;
            }

            .imageP2 img {
			     width: 100%;
                float: none;

		  }

            #pprice{
                float: right;
                font-size: 16px;
            }

              #h2Detail{
                font-size: 18px;
            }

            #h3Detail{
                font-size: 14px;
            }

            #pDetail{
                font-size: 14px;
            }


            .star {
              font-size: 25px;
                color:gold;
            }
}
.bar-header{
  padding-top:20px ;
  height: 60px
}
.title-center.header-item{
  top: 5px;
}
.modal-backdrop{
	background-color: rgba(0, 0, 0, 0);
}

.focProd:hover, .focProd:focus, .focProd:active {
    background-color: #2098D1;
}

#textp{
    text-decoration: none;
}
