/* Empty. Add your own CSS if you like */
.homepageimg{
    height: 80px; border-radius: 40px;
}
.socialimg{
    height: 25px; border-radius: 15px; margin-top: 5%;
}
.spammer{
    margin-top: 10%; border-top: 4px solid #33928B; width: 95%; margin-left: 2.5%; border-top-right-radius: 5px; border-top-left-radius: 5px;
}
.spamimg{
    height: 50px;
}
.tellfrnd{
    margin: -50px 0px 0px; color: #FFFFFF; font-size: 10px;
}
.button.button-fb {
    border-color: #152c58;
    background-color: #3B5999;
    color: #FFFFFF;
    font-size: 13px;
}
.fb {
    border: 0px; margin-bottom: -23px;
}
.button.button-google {
    border-color: #D41D1D;
    background-color: #D41D1D;
    color: #FFFFFF;
    font-size: 13px;
}
.button.button-createaccount {
    color: #0A5EFF;
	text-decoration: underline;
    font-size: 15px;
}
.google {
    border: 0px;
}
.login {
    border-top: #DDD 1px solid; border-right: 0px; border-bottom: 0px; border-left: 0px; margin-bottom: -23px;
}

/* Price */
.price{
	color: rgb(85,172,238);
	text-align:center;
}

a{
	text-decoration:none;
}

.pending {
    background-color:#bf2b2b;
    border: medium none;
    color: rgb(255, 255, 255);
    border-radius: 10px;
	margin: 0px 10px 10px;
	padding: 0px 8px 3px;
}

.invoice-item{
	background-color:#eeeeee;
	box-shadow: 1px 1px 4px -1px #a5a5a5;
}

.invoice-bg{
	background-color: #F2F2F2;
}

.order-list{
	border-bottom:1px solid grey;
}

.menu_li{
	padding: 10px;
	border-bottom: 1px solid rgb(218, 218, 218);
}
.signout {
    background-color: #55ACEE;
    border: none;
    width: 90%;
    padding: 5px;
    border-radius:0px;
    margin: 20px 0px 0px 0px;
    color: #fff;
    font-weight: bold;
    font-size: 15px;
}


/* Size */
.sizeSelect-item {
  display: inline-block;
  zoom: 1;
  *display: inline;
}

.sizeSelect {
	display: block;
	min-width: 100%;
	font-family: Helvetica, Arial, sans-serif;
	font-size: 0;
	padding: 0;
	margin: 10px 0px 0px 0px auto;
	list-style-type: none;
}


.sizeSelect-item label {

	-moz-transition: background 0.25s ease;
	-o-transition: background 0.25s ease;
	transition: background 0.25s ease;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-o-box-sizing: border-box;
	box-sizing: border-box;
	font-size: 12px;
	cursor: pointer;
	display: block;
	text-transform: uppercase;
	height: 33px;
	text-align: center;
	line-height: 33px;
	width: 43px;
	background-color: #CCCCCC;
	margin: 5px 5px 0px 0px;
}
.sizeSelect-item input {
  display: none;
}
.sizeSelect-item input:checked ~ label {
  -webkit-transition: background 0.25s ease;
  -moz-transition: background 0.25s ease;
  -o-transition: background 0.25s ease;
  transition: background 0.25s ease;
  background: #303030;
  color: #fff;
}

.sizeSelect-title {
  display: block;
  min-width: 320px;
  font-family: Helvetica, Arial, sans-serif;
  text-align: center;
  margin-bottom: 14px;
}
.sizeSelect-title:before {
  content: 'Select a size:';
  text-transform: uppercase;
  font-weight: bold;
  font-size: 15px;
}

/* Slider */
[slider] {
    width:100%;
	margin: 20px auto;
	position: relative;
}

[slider] > div {
  position: absolute;
  left: 13px;
  right: 15px;
  height: 14px;
}

[slider] > div > [inverse-left] {
  position: absolute;
  left: 0;
  height:6px;
  border-radius:0px;
  background-color: #cccccc;

}

[slider] > div > [inverse-right] {
  position: absolute;
  right: 0;
  height: 6px;
  border-radius: 0px;
  background-color: #CCCCCC;
}

[slider] > div > [range] {
  position: absolute;
  left: 0;
  height: 6px;
  border-radius: 0;
  background-color: #6C6C6C;
}

[slider] > div > [thumb] {
    position: absolute;
	top: -9px;
	z-index: 0000;
	height:25px;
	width: 8px;
	text-align: left;
	background-color: #333333;
	outline: none;
	border-radius: 2px;
}

[slider] > input[type=range] {
  position: absolute;
  pointer-events: none;
  -webkit-appearance: none;
  z-index: 3;
  height: 14px;
  top: -2px;
  width: 100%;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  -moz-opacity: 0;
  -khtml-opacity: 0;
  opacity: 0;
  right:0;
}

div[slider] > input[type=range]::-ms-track {
  -webkit-appearance: none;
  background: transparent;
  color: transparent;
}

div[slider] > input[type=range]::-moz-range-track {
  -moz-appearance: none;
  background: transparent;
  color: transparent;
}

div[slider] > input[type=range]:focus::-webkit-slider-runnable-track {
  background: transparent;
  border: transparent;
}

div[slider] > input[type=range]:focus {
  outline: none;
}

div[slider] > input[type=range]::-ms-thumb {
  pointer-events: all;
  width: 28px;
  height: 28px;
  border-radius: 0px;
  border: 0 none;
  background: red;
}

div[slider] > input[type=range]::-moz-range-thumb {
  pointer-events: all;
  width: 28px;
  height: 28px;
  border-radius: 0px;
  border: 0 none;
  background: red;
}

div[slider] > input[type=range]::-webkit-slider-thumb {
  pointer-events: all;
  width: 28px;
  height: 28px;
  border-radius: 0px;
  border: 0 none;
  background: red;
  -webkit-appearance: none;
}

div[slider] > input[type=range]::-ms-fill-lower {
  background: transparent;
  border: 0 none;
}

div[slider] > input[type=range]::-ms-fill-upper {
  background: transparent;
  border: 0 none;
}

div[slider] > input[type=range]::-ms-tooltip {
  display: none;
}

[slider] > div > [sign] {
	margin-left: 0px;
	z-index: 3;
	background-color: #E6E6E6;
	color: #999999;
	width: 46%;
	height: 33px;
	align-items: center;
	-webkit-justify-content: center;
	justify-content: center;
	text-align: center;
	display: inline-block;
	padding-top: 3px;
}
.value1{
	position: absolute;
	top:35px;
	left: 0px !important;
}
.value2{
	position: absolute;
	top:35px;
	right: 0px !important;
}
[slider] > div > [sign] > span {
  font-size: 12px;
  font-weight: 700;
  line-height: 28px;
}

[slider]:hover > div > [sign] {
  opacity: 1;
}

.cart-badge{
	color: rgb(85,172,238);
	font-weight: bold;
	background-color: rgb(255, 255, 255);
	width: 17px;
	height: 16px;
	border-radius: 100%;
	font-size: 9px;
	position: relative;
	left: 14px;
	text-align: center;
	bottom: 26px;
}
.cart-badge-top{
	color: rgb(85,172,238);
	font-weight: bold;
	background-color: rgb(255, 255, 255);
	width: 17px;
	height: 16px;
	border-radius: 100%;
	font-size: 9px;
	position: absolute;
	left: 0px;
	text-align: center;
	top: 0px;
}
.cart-image-header{
	width: 24px;
	height: 24px;
	margin-top: 5px;
	margin-right: 5px;
}
/* animation */
/* .slide-in-left-right {
  -webkit-transform: translate3d(-100%, 0, 0);
  transform: translate3d(-100%, 0, 0); }

.slide-in-left-right.ng-enter, .slide-in-left-right > .ng-enter {
  -webkit-transition: all cubic-bezier(0.1, 0.7, 0.1, 1) 400ms;
  transition: all cubic-bezier(0.1, 0.7, 0.1, 1) 400ms; }

.slide-in-left-right.ng-enter-active, .slide-in-left-right > .ng-enter-active {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0); }

.slide-in-left-right.ng-leave, .slide-in-left-right > .ng-leave {
  -webkit-transition: all ease-in-out 250ms;
  transition: all ease-in-out 250ms; } */

  .slide-in-left {
  -webkit-transform: translate3d(100%, 0, 0);
  transform: translate3d(100%, 0, 0); }

.slide-in-left.ng-enter, .slide-in-left > .ng-enter {
  -webkit-transition: all cubic-bezier(0.1, 0.7, 0.1, 1) 400ms;
  transition: all cubic-bezier(0.1, 0.7, 0.1, 1) 400ms; }

.slide-in-left.ng-enter-active, .slide-in-left > .ng-enter-active {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0); }

.slide-in-left.ng-leave, .slide-in-left > .ng-leave {
  -webkit-transition: all ease-in-out 250ms;
  transition: all ease-in-out 250ms;
 /*  -webkit-transform: translate3d(-100%, 0, 0);
  transform: translate3d(-100%, 0, 0); */ }
/* animation end */

.error{
    color:red;
}

.topnav {
  overflow: hidden;
  background-color: #3c8dbc;
}

.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  /*background-color:  #ffffff ;*/
  color: #f2f2f2;
  color: black;
}

.topnav a.active {
    background-color: #4CAF50;
    color: white;
}


/* Dropdown Button */
.dropbtn {
    background-color: #ffe900;
    color: #2a6496 !important;
    /*padding: 16px;
    /*font-size: 16px;*/
    border: none;
    cursor: pointer;
    /*text-decoration: none;*/
    font: inherit;
    font-size: 17px;
    font-family: sans-serif;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    padding-top: 0px;
    z-index: 900;
    margin-top: 4.5px;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    /*display: block;*/
    cursor: pointer;
    width: inherit;
    text-align: left;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: lightgrey}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
    background-color: #02519e;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
    background-color: #4444444;
    color: #2a6496;
}
.bar button {
  font-size: 19px;
}
.has-header {
    top: 60px;
    overflow-y: scroll;
}
.subTitleAreas{
  /*padding-left: 1%;*/
  font-size: 23px;
    cursor: pointer;
    display: inline;
    font-family: sans-serif;
    font-weight: bold;
    margin-left: 10px;
}
.subTitleAreas:hover{
    text-decoration:none;
}
.sectionAreas{
  /*padding-left: 3%;*/
  /*padding-right: 3%;*/
  overflow-y: hidden;
  margin-top: 1%;
}
.mainSection{
  /*overflow-y: hidden;*/
}
.mainSectionSubAreas{
  margin-bottom: 150px;
}
.divImgEPAProfile{

}
.list .item.item-accordion {
  line-height: 38px;
  padding-top: 0;
  padding-bottom: 0;
  transition: 0.09s all linear;
}
.list .item.item-accordion.ng-hide {
  line-height: 0px;
}
.list .item.item-accordion.ng-hide-add,
.list .item.item-accordion.ng-hide-remove {
  display: block !important;
}
.itemArea:hover{
  background: lightgrey;
}
.imgTitle{
  max-width: 130px;
  max-height: 100px;
  cursor: pointer;
  margin-left: 10px;
  text-align: : center;
}
.imgTitle2{
  max-width: 130px;
  height: 9%;
  cursor: pointer;
  margin-top: -7px;
}
.customCenter{
  overflow: hidden;
    max-width: 100%;
    min-width: 100%;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: fixed;
}
.customGalleryItems{
  padding-left: 5px;
  padding-right: 5px;
  min-width: 175px;
  border: 1px solid #ccc;
  margin-left: 12px;
  margin-right: 12px;
      background-color: white;
  }


  .loading {
      /*margin: 0;*/
      opacity:    0.5;
      width:      100%;
      height:     100%;
      top:        0;
      left:       0;
      bottom: 0;
      position:   fixed;
      z-index: 9999;
  }
  .loadingCenter{
    position: fixed; /* or absolute */
    top: 40vh;
    left: 45vw;
    width: 10vw;
    height: 10vw;
    color: #387ef5;
  }

.back-button > .back-text > .previous-title {
    display:none;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body { font-family: sans-serif; }
.footer {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    overflow:hidden;
}

.icon-plus {
    background-color: grey;
    border-radius:8px;
    -webkit-border-radius:8px;
    -moz-border-radius:8px;
    width: 20px;
    height: 20px;
    position: relative;
    top:0;
    left:0;
}
.icon-plus:after {
    background-color: #fff;
    width: 12px;
    height: 4px;
    border-radius: 1px;
    -webkit-border-radius: 1px;
    -moz-border-radius: 1px;
    position: absolute;
    top:7px;
    left: 4px;
    content:"";
}
.icon-plus:before {
    background-color: #fff;
    width: 4px;
    height: 12px;
    border-radius: 1px;
    -webkit-border-radius: 1px;
    -moz-border-radius: 1px;
    position: absolute;
    top:3px;
    left: 8px;
    content:"";
}
.icon {
  display:inline;
  float: right;
}


.productIconsDiv{}
.detailDiv{}

.quantityContent{
    width:100%;
    margin:0 auto;
    display:inline-block;
    text-align:center;
}
.quantityLeftf{
  color:black;
    display:block;
    float:left;
}
.quantityRight{
  display:block;
  float:right;
  display:inline-block;
}
.quantityCenter{
    display:inline-block;
        /*margin-top: 25px;*/
}
div.arrow-left {
	width: 0;
	height: 0;
	border-bottom: 5px solid transparent;  /* left arrow slant */
	border-top: 5px solid transparent; /* right arrow slant */
	border-right: 5px solid #2f2f2f; /* bottom, add background color here */
	font-size: 0;
	line-height: 0;
}

/* create an arrow that points right */
.arrow-left {
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;

  border-right:10px solid blue;
}
.custom-cart-icon{
  color : #387ef5 !important;
}
.icon{
  color : #2a6496 !important;*/
}
.title{
  color: #2a6496 !important;
  font-family: sans-serif;
}
.scroll {
  -webkit-user-select: text;
  -moz-user-select: text;
  -ms-user-select: text;
  user-select: text;
}

.nc{
  color:#387ef5
}

.error{
    color:red;
}


.item-select {
  width: 75%; / Or whatever you'd like the width to be /
}

.item-select select {
  left: 0;
}
.searchBar{
    margin-top: -6px;
}
input[type=text] {
      width: 100%;
      box-sizing: border-box;
      border-radius: 4px;
      font-size: 16px;
      background-color: white;
      /*background-image: url('searchicon.png');*/
      background-position: 1px 10px;
      background-repeat: no-repeat;
      /*padding: 12px 20px 12px 40px;*/
      padding: 5;

}

input[type=text]:focus {
    width: 100%;
}
.input.rtl { background-position: 0 center; }
.input.rtl:hover { background-position: 100% center; }
.searchingBlue{
    background-color: #3c8dbc;
    border:transparent;
};
.button-search{
background: #3c8dbc;
border: transparent;
cursor: pointer
};
/*suggest*/
body{padding-top:20px}

div .container{
    width: 100%
}
.pricing-table .plan {
  margin-left:0px;
  border-radius: 5px;
  text-align: center;
  background-color: #f3f3f3;
  -moz-box-shadow: 0 0 6px 2px #b0b2ab;
  -webkit-box-shadow: 0 0 6px 2px #b0b2ab;
  box-shadow: 0 0 6px 2px #b0b2ab;
}

 .plan:hover {
  background-color: #fff;
  -moz-box-shadow: 0 0 12px 3px #b0b2ab;
  -webkit-box-shadow: 0 0 12px 3px #b0b2ab;
  box-shadow: 0 0 12px 3px #b0b2ab;
  cursor: pointer;
  background-color: #FFE900;
  color: #0027C2
}

 .plan {
  padding: 40px;
  margin-left:0px;
  color: #ff;
  background-color: #5e5f59;
  -moz-border-radius: 5px 5px 0 0;
  -webkit-border-radius: 5px 5px 0 0;
  border-radius: 5px 5px 0 0;
}

.plan-name-bronze {
  padding: 20px;
  color: #fff;
  background-color: #665D1E;
  -moz-border-radius: 5px 5px 0 0;
  -webkit-border-radius: 5px 5px 0 0;
  border-radius: 5px 5px 0 0;
 }

.plan-name-silver {
  padding: 20px;
  color: #fff;
  background-color: #C0C0C0;
  -moz-border-radius: 5px 5px 0 0;
  -webkit-border-radius: 5px 5px 0 0;
  border-radius: 5px 5px 0 0;
 }

.plan-name-gold {
  padding: 20px;
  color: #fff;
  background-color: #FFD700;
  -moz-border-radius: 5px 5px 0 0;
  -webkit-border-radius: 5px 5px 0 0;
  border-radius: 5px 5px 0 0;
  width: 100%;
  }

.pricing-table-bronze  {
  padding: 20px;
  color: #fff;
  background-color: #f89406;
  -moz-border-radius: 5px 5px 0 0;
  -webkit-border-radius: 5px 5px 0 0;
  border-radius: 5px 5px 0 0;
}

.pricing-table .plan .plan-name span {
  font-size: 20px;
}

.pricing-table .plan ul {
  list-style: none;
  margin: 0;
  -moz-border-radius: 0 0 5px 5px;
  -webkit-border-radius: 0 0 5px 5px;
  border-radius: 0 0 5px 5px;
}

.pricing-table .plan ul li.plan-feature {
  padding: 15px 15px;
  border-top: 1px solid #c5c8c0;

}

.pricing-three-column {
  margin: 0 auto;
  width: 80%;
}

.pricing-variable-height .plan {
  float: none;
  margin-left: 2%;
  vertical-align: bottom;
  display: inline-block;
  zoom:1;
  *display:inline;
}

.plan-mouseover .plan-name {
  background-color: #4e9a06 !important;
}

.btn-plan-select {
  padding: 8px 25px;
  font-size: 18px;
}
/*suggest*/
/*Search start*/
#search-input {
  text-align: center;
}

#photos {
  margin: auto;
}

.photo {
  width: 100px;
  height: 100px;
  margin: 1px;
  float: left;
  overflow: hidden;
}
.photo img {
  min-width: 100%;
  min-height: 100%;
  max-width: 150%;
  max-height: 150%;
}

#search-bar {
  background: none;
  position: absolute;
  width: 100%;
  top: 44px;
  height: 40px;
  z-index: 3;
}
#search-bar .item {
  background: none;
  border: none;
}
#content {
  top: 44px;
  padding-top: 45px;
  padding-bottom: 20px;
}
/*Search end*/

.error{
    color:red;
}


.item-select {
  width: 75%; / Or whatever you'd like the width to be /
}

.item-select select {
  left: 0;
}
.searchBar{
    margin-top: -6px;
}
input[type=text] {
    width: 100%;
    box-sizing: border-box;
    border-radius: 4px;
    font-size: 16px;
    background-color: white;
    background-position: 10px 10px;
    background-repeat: no-repeat;
    /*padding: 12px 20px 12px 40px;*/

    padding: 5;
}

input[type=text]:focus {
    width: 100%;
}
.searchingYellow{
    background-color: #ffe900;
    border:transparent;
    padding-top: 0px;
};
.button-search{
background: #3c8dbc;
border: transparent;
cursor: pointer
};
/*suggest*/
body{padding-top:20px}

div .container{
    width: 100%
}
.pricing-table .plan {
  margin-left:0%;
  border-radius: 5px;
  text-align: center;
  background-color: #f3f3f3;
  -moz-box-shadow: 0 0 6px 2px #b0b2ab;
  -webkit-box-shadow: 0 0 6px 2px #b0b2ab;
  box-shadow: 0 0 6px 2px #b0b2ab;
}

 .plan:hover {
  background-color: #fff;
  -moz-box-shadow: 0 0 12px 3px #b0b2ab;
  -webkit-box-shadow: 0 0 12px 3px #b0b2ab;
  box-shadow: 0 0 12px 3px #b0b2ab;
  cursor: pointer;
  background-color: #FFE900;
  color: #0027C2
}

 .plan {
  padding: 35px;
  margin-left:0px;
  color: #ff;
  background-color: #5e5f59;
  -moz-border-radius: 5px 5px 0 0;
  -webkit-border-radius: 5px 5px 0 0;
  border-radius: 5px 5px 0 0;
  margin-bottom:10px;
  min-width:250px
}

.plan-name-bronze {
  padding: 20px;
  color: #fff;
  background-color: #665D1E;
  -moz-border-radius: 5px 5px 0 0;
  -webkit-border-radius: 5px 5px 0 0;
  border-radius: 5px 5px 0 0;
 }

.plan-name-silver {
  padding: 20px;
  color: #fff;
  background-color: #C0C0C0;
  -moz-border-radius: 5px 5px 0 0;
  -webkit-border-radius: 5px 5px 0 0;
  border-radius: 5px 5px 0 0;
 }

.plan-name-gold {
  padding: 20px;
  color: #fff;
  background-color: #FFD700;
  -moz-border-radius: 5px 5px 0 0;
  -webkit-border-radius: 5px 5px 0 0;
  border-radius: 5px 5px 0 0;
  width: 100%;
  }

.pricing-table-bronze  {
  padding: 20px;
  color: #fff;
  background-color: #f89406;
  -moz-border-radius: 5px 5px 0 0;
  -webkit-border-radius: 5px 5px 0 0;
  border-radius: 5px 5px 0 0;
}

.pricing-table .plan .plan-name span {
  font-size: 20px;
}

.pricing-table .plan ul {
  list-style: none;
  margin: 0;
  -moz-border-radius: 0 0 5px 5px;
  -webkit-border-radius: 0 0 5px 5px;
  border-radius: 0 0 5px 5px;
}

.pricing-table .plan ul li.plan-feature {
  padding: 15px 15px;
  border-top: 1px solid #c5c8c0;

}

.pricing-three-column {
  margin: 0 auto;
  width: 80%;
}

.pricing-variable-height .plan {
  float: none;
  margin-left: 2%;
  vertical-align: bottom;
  display: inline-block;
  zoom:1;
  *display:inline;
}

.plan-mouseover .plan-name {
  background-color: #4e9a06 !important;
}

.btn-plan-select {
  padding: 8px 25px;
  font-size: 18px;
}
/*suggest*/
/*Search start*/
#search-input {
  text-align: center;
}

#photos {
  margin: auto;
}

.photo {
  width: 100px;
  height: 100px;
  margin: 1px;
  float: left;
  overflow: hidden;
}
.photo img {
  min-width: 100%;
  min-height: 100%;
  max-width: 150%;
  max-height: 150%;
}

#search-bar {
  background: none;
  position: absolute;
  width: 100%;
  top: 44px;
  height: 40px;
  z-index: 3;
}
#search-bar .item {
  background: none;
  border: none;
}
#content {
  top: 44px;
  padding-top: 45px;
  padding-bottom: 20px;
}
.search-button {
border-color: #02519e;
background-color: #02519e;
color: #ffc900;
}
/*Search end*/
.selectN{
padding: 6.5px;
border-radius: 4px;
width: 170px;
margin: 3.5px;
border: transparent;
}
.buttonS {
border-color: #ffe900;
background-color: #02519e;
color: #ffe900;
}
.suggestionsTitle {
    right: 34vw;
    position: absolute;
    text-shadow: 0px 0px 30px rgba(220, 217, 17, 0.75);
	color: #213BE5;
	font-size: 25px;
    text-align: center;
}
.suggestionsTitlePhone {
    right: 0vw;
    position: absolute;
    text-shadow: 0px 0px 30px rgba(220, 217, 17, 0.75);
	color: #213BE5;
	font-size: 20px;
    text-align: center;
}
.suggestionsBox{
    margin-top: 5%;
    margin-left: 16%;
}
.closeSearch{
  z-index: 9999;
  position: relative;
}
.buttonSearch{
  background-color: #02519e;
}
.moredetails{
    cursor: pointer;
    font-family: sans-serif;
}
.navbar>li>a:hover, .navbar>li>a:focus {
    text-decoration: none;
    /*background-color: #02509c;*/
    color: #02519e;
    cursor: pointer;


}
.item-input-inset {
    margin-left: -4px;
}
.letterMenu{
    color:black;
}
.faicon{
  font-size: 23px;
}

.float-button{
  background-color: #303f9f;
    opacity: 0.9;
    color: white;
    border-radius: 50%;
    width: 75px;
    height: 75px;
    padding: px;
    padding-left: 6%;
    padding-top: 4%;
    font-size: 40px;
    position: fixed;
    bottom: 5%;
    right: 5%;
    z-index: 1000;
}
.letterMenu{
    font-family: sans-serif;
    color:black;
    padding:5px;
    z-index: 9000 !important;
    position: relative;
    cursor: pointer;
    text-decoration: none;
}
.navbar{
    top: -15px;
    padding-top: 20px;
}
.textLeftForTitle{
    text-align: left;
}
.textCenterForTitle{
    text-align: center;
}
/** The Magic **/
.btn-breadcrumb .btn:not(:last-child):after {
  content: " ";
  display: block;
  width: 0;
  height: 0;
  border-top: 17px solid transparent;
  border-bottom: 17px solid transparent;
  border-left: 10px solid white;
  position: absolute;
  top: 50%;
  margin-top: -17px;
  left: 100%;
  z-index: 3;
}
.btn-breadcrumb .btn:not(:last-child):before {
  content: " ";
  display: block;
  width: 0;
  height: 0;
  border-top: 17px solid transparent;
  border-bottom: 17px solid transparent;
  border-left: 10px solid rgb(173, 173, 173);
  position: absolute;
  top: 50%;
  margin-top: -17px;
  margin-left: 1px;
  left: 100%;
  z-index: 3;
}

/** The Spacing **/
.btn-breadcrumb .btn {
  padding:10px 12px 6px 24px;
}
.btn-breadcrumb .btn:first-child {
  padding:10px 6px 6px 10px;
}
.btn-breadcrumb .btn:last-child {
    padding: 10px 19px 6px 8%;
}

/** Default button **/
.btn-breadcrumb .btn.btn-default:not(:last-child):after {
  border-left: 30px  solid #009cdf;
}
.btn-breadcrumb .btn.btn-default:not(:last-child):before {
  border-left: 30px solid #ccc;
}
.btn-breadcrumb .btn.btn-default:hover:not(:last-child):after {
  border-left: 30px solid #009cdf;
}
.btn-breadcrumb .btn.btn-default:hover:not(:last-child):before {
  border-left: 30px solid #adadad;
}
.btn-group, .btn-group-vertical {
    display: flex;
}
.row {
    margin-top: -15px;
    margin-left: -5px;
}
.btn-default {
    color: #01509d;
    background-color: #ffe900;
    border-color: #02509e;
    font-family: sans-serif;
    font-weight: bold;
}
.btn{
    border: transparent;
    margin-left: -26px;
}
.dropdown-content a {
    color: #ffffff;
    background-color: #02519e;
    border-radius: inherit;
}
.triangulo {
width: 0;
height: 0;
border-style: solid;
border-width: 10px 0 10px 20px;
border-color: transparent transparent transparent #007bff;
}
.menuweb{
    margin-top: -35px;
    padding-left: 3px;
}
.dropdown-content a:hover {
    background-color: #009de0;
    color: #ffffff;
}
.btn-default:hover, .btn-default:focus, .btn-default:active, .btn-default.active, .open .dropdown-toggle.btn-default {
    color: #fff;
    background-color: #009de0;
    border-color: #ffe900;
}
.trianguloTop{
        margin-top: 6px;
}
.bar .buttons-left span {
    margin-right: 22px;
    display: inherit;
}

.footer {
    clear: both;
    position: relative;
    z-index: 10;
    bottom:0;
    background-color: #ffe900;
    justify-content: center;
    height: 150px;

}
.bar.bar-dark {
    border: none;
}

.footerText{
  font-style: normal;
  text-transform: none;
  color: #01509d;
  line-height: 24px;
  font-family: sans-serif !important;
  font-size: 16px !important;
  font-weight: bold !important;
  text-align: justify !important;
}

.tdCenter{
  text-align: center;
}
.tableCenter{
   align-self: center;
   margin: auto;
   margin-top: 8px;
   margin-left: 50px;
   margin-right: 50px;
}
.footerDirectionText{
  font-family: sans-serif !important;
  padding-right: 40px;
  padding-bottom: 20px;
}
.catalogBody{
  min-height: 100%;
  margin-bottom: -150px;
}
.moredatails{
  cursor: pointer;
}

.label-container{
	position:fixed;
	bottom:92%;
	right:105px;
	display:table;
	visibility: hidden;
}

.label-text{
	color:#FFF;
	background:rgba(51,51,51,0.5);
	display:table-cell;
	vertical-align:middle;
	padding:10px;
	border-radius:3px;
}

.label-arrow{
	display:table-cell;
	vertical-align:middle;
	color:#333;
	opacity:0.5;
}

.float{
	position:fixed;
	width:60px;
	height:60px;
	bottom:200px;
	right:40px;
	background-color:#02519e;
	color:#FFF;
	border-radius:50px;
	text-align:center;
	box-shadow: 2px 2px 3px #999;
}

.my-float{
	font-size:24px;
	margin-top:18px;
}

a.float + div.label-container {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s, opacity 0.5s ease;
}

a.float:hover + div.label-container{
  visibility: visible;
  opacity: 1;
}

.tableRight{
  margin-top: 9px;
  }
.personDetails{
  background-color: #02519e;
  color: white;
}
.btnInLefTitle{
  margin-left: 0;
  width: 100%;
  border-radius: inherit;
  display: block;
  text-align: left;
  background-color: #387ef5;
  color: white;
}
.btnInLefTitle:hover{
  background-color: #02519d;
}
.imgProfileRight{
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 35%;
  vertical-align: middle;
  border-radius: inherit;
}
.textProfile{
  display: block;
  text-align: center;
  font-family: sans-serif;
  padding-bottom: 20px;
}

.titleSubarea{
    margin-left: 2%;
    margin-top: 17px;
    margin-bottom: -3px;
    font-family: sans-serif;
    color: #387ef5;
    font-size: 23px;
    font-weight: bold;
}
@media (min-width:600px){
    #modalShop{
    width: 20%;
    left: 40%;
    right: 40%;
    height: 20%;
}
}
.dropdown-content a {
    display: block;
}
.searchpage{
    margin-bottom: 100px;
}
.maxAndMinSuggestions{
    min-height: 280px;
    max-height: 280px;
}
.maxAndMinProducts{
    min-height: 383px;
    max-height: 370px;
}
.maxAndMinProductsPhone{
    min-height: 383%;
}
.suggestionsBoxPhone {
    margin-top: 22%;
    margin-left: 7%;
}
.sortMargin{
        margin-left: 3%;
        margin-top: 4px;
        color:#387ef5
}
.titleSort{
    font-size: 17px;
font-family: sans-serif;
color: #387ef5;
margin-left: 17%;
}
.searchTitleMargin{
    margin-top: 22px;
}
.backProfile{
  background-image: url('../img/epa-desamparados.jpg');
}
.contentProfile{
  right: -76px;
}
.floatScroll{

  display: none; /* Hidden by default */
  position: fixed; /* Fixed/sticky position */
  z-index: 99; /* Make sure it does not overlap */
  color: white;
	position:fixed;
	width:60px;
	height:60px;
	bottom:50px;
	right:40px;
	background-color:#02519e;
	border-radius:50px;
	text-align:center;
	box-shadow: 2px 2px 3px #999;
}

.floatScroll:hover{
  color: yellow;
}
.productsWishList{
    min-height: 315px;
}
.productsShopCart{
    min-height: 400px;
}
.priceShop{
    margin-top: -5%;
    margin-left: 81%;
    color: #387ef5;
    font-size: 19px;
    font-weight: bold;
}
.priceShopPhone{
    margin-top: -5%;
    color: #387ef5;
    font-size: 19px;
    font-weight: bold;
}
.marginTitle{
    margin-top:2%;
}
.floatShopCart{
        bottom: 94%;
}
.floatShopCartPhone{
        bottom: 89%;
}
.hiddenScroll{
    overflow-x: hidden;
}
